<div class="h1-block-header dialog-header">{{ translations?.myDemos }}: {{ data.cupName }}</div>
<table>
    <ng-container *ngIf="(demos$ | async) as demos">
        <ng-container *ngIf="demos.length; else noDemos">
            <tr *ngFor="let demo of demos">
                <td class="table-field">{{ getFormattedTime(demo.time) }}</td>
                <td class="table-field delete">
                    <a *ngIf="!isLoading(demo.demopath); else loader" (click)="deleteDemo(demo.demopath)" class="link">{{ translations?.delete }}</a>
                    <ng-template #loader>
                        <mat-spinner diameter="20" strokeWidth="2" color="accent" class="spinner"></mat-spinner>
                    </ng-template>
                </td>
            </tr>
        </ng-container>
    </ng-container>

    <ng-template #noDemos>
        <tr><td class="table-field">{{ translations?.noUploadedDemos }}</td></tr>
    </ng-template>
</table>