<div *ngIf="news.twitch1 && news.twitch2" class="streams-container">
    <div class="pagination-container">
        <div class="pagination">
            <div 
                *ngFor="let streamNumber of range(2)" 
                [class.selected]="currentStream === streamNumber" 
                (click)="changeStream(streamNumber)" 
                matRipple 
                class="page blue-link">
                
                Stream {{ streamNumber + 1 }}
            </div>
        </div>
    </div>
    <iframe *ngIf="currentStream === 0" [src]="iframeLink1" frameborder="0" allowfullscreen="true" scrolling="no" height="450" width="800">
    </iframe>
    <iframe *ngIf="currentStream === 1" [src]="iframeLink2" frameborder="0" allowfullscreen="true" scrolling="no" height="450" width="800">
    </iframe>
</div>

<app-html-news [news]="news"></app-html-news>
<div class="players-table-description">
    <span translate translation="listOfRegisteredPlayers"></span>:
</div>
<div class="players-table">
    <div *ngFor="let row of range(rowCount)" class="players-row">
        <div *ngFor="let column of range(columnCount)" class="players-cell">
            <div class="number">{{ column * rowCount + row + 1 }}</div>
            <div class="player">
                <ng-container *ngIf="registeredPlayers[column * rowCount + row] as player">
                    <app-player-cell [country]="player.country" [nick]="player.nick" [playerId]="player.id"></app-player-cell>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="buttons-container">
    <button 
        (click)="toggleRegistration()"
        mat-raised-button 
        color="primary"
        class="registration-button">

        <span *ngIf="isRegistered" translate translation="cancelRegistration"></span>
        <span *ngIf="!isRegistered" translate translation="registerForCup"></span>
    </button>
    <button 
        (click)="openFullTable()"
        mat-raised-button 
        color="primary"
        class="full-table-button">

        <span translate translation="fullTable"></span>
    </button>
</div>