<mat-card class="main-form-card">
  <h3 class="header">
    {{ operationType | titlecase }} {{ newsType | invokeFunction: mapNewsTypeToHumanTitle | lowercase }} news
  </h3>
  <form *ngIf="newsActionForm; else loading" [formGroup]="newsActionForm">
    <div class="form">
      <div class="input-title">Title (Russian)</div>
      <div>
        <input formControlName="russianTitle" class="input-field" data-test-id="russian-news-title-input" />
        <div *ngIf="hasFieldError(this.newsActionForm.get('russianTitle')!)" class="field-error">Field is required</div>
      </div>
      <div class="input-title">Title (English)</div>
      <div>
        <input formControlName="englishTitle" class="input-field" data-test-id="english-news-title-input" />
        <div *ngIf="hasFieldError(this.newsActionForm.get('englishTitle')!)" class="field-error">Field is required</div>
      </div>
      <div class="input-title">
        Time to post
        <br />
        <span class="comment">(MSK GMT +3:00)</span>
      </div>
      <div class="radio-container">
        <mat-radio-group formControlName="timeOption">
          <div>
            <mat-radio-button value="now" color="primary" data-test-id="now-option-radio"></mat-radio-button>
            <span>Now</span>
          </div>
          <div>
            <mat-radio-button value="custom" color="primary" data-test-id="custom-time-option-radio"></mat-radio-button>
            <span>Custom time</span>
            <input
              formControlName="postingTime"
              class="input-field date"
              type="datetime-local"
              data-test-id="news-posting-time-input"
            />
            <span
              *ngIf="
                this.newsActionForm.errors &&
                this.newsActionForm.errors['postingTimeEmpty'] &&
                !this.newsActionForm.get('postingTime')!.pristine
              "
              class="field-error"
            >
              Field is required
            </span>
          </div>
        </mat-radio-group>
      </div>

      <ng-container *ngIf="isCupRequired">
        <ng-container *ngIf="availableCups$ | async as availableCups">
          <div class="input-title">Cup</div>
          <div>
            <mat-form-field appearance="outline" class="select">
              <mat-select formControlName="cup" data-test-id="news-cup-select">
                <mat-option *ngFor="let availableCup of availableCups" [value]="availableCup.cupId">
                  {{ availableCup.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="hasFieldError(this.newsActionForm.get('cup')!)" class="field-error">Field is required</div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="isMulticupRequired">
        <ng-container *ngIf="availableMulticups$ | async as availableMulticups">
          <div class="input-title">Multicup</div>
          <div>
            <mat-form-field appearance="outline" class="select">
              <mat-select formControlName="multicup" data-test-id="news-cup-select">
                <mat-option *ngFor="let availableMulticup of availableMulticups" [value]="availableMulticup.multicupId">
                  {{ availableMulticup.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="hasFieldError(this.newsActionForm.get('multicup')!)" class="field-error">Field is required</div>
          </div>
        </ng-container>
      </ng-container>

      <div class="input-title">Russian text</div>
      <div class="wysiwyg-container">
        <quill-editor formControlName="russianText" class="quill" data-test-id="russian-text-quill"></quill-editor>
        <div *ngIf="hasFieldError(this.newsActionForm.get('russianText')!)" class="field-error">Field is required</div>
      </div>
      <div class="input-title">English text</div>
      <div class="wysiwyg-container">
        <quill-editor formControlName="englishText" class="quill" data-test-id="english-text-quill"></quill-editor>
        <div *ngIf="hasFieldError(this.newsActionForm.get('englishText')!)" class="field-error">Field is required</div>
      </div>
      <div class="input-title">Youtube embed ID</div>
      <div>
        <input formControlName="youtube" class="input-field" data-test-id="youtube-input" />
        <app-youtube
          *ngIf="youtubeEmbedId$ | async as youtubeEmbedId"
          [id]="youtubeEmbedId"
          [width]="800"
          [height]="450"
          class="youtube"
        ></app-youtube>
      </div>
    </div>
    <button
      (click)="submitNews()"
      mat-raised-button
      color="accent"
      class="submit-button"
      data-test-id="save-simple-news-button"
    >
      Save news
    </button>
  </form>
  <ng-template #loading>
    <div class="loading-block">
      <mat-spinner diameter="75" strokeWidth="4" color="accent"></mat-spinner>
    </div>
  </ng-template>
</mat-card>
