<div class="shadowed-main-block relative">
  <div class="news-filter-buttons">
    <button
      mat-raised-button
      color="primary"
      [class.filter-selected]="currentFilter === archiveNewsFilter.ALL"
      (click)="filterNewsBy(archiveNewsFilter.ALL)"
      class="filter-button"
    >
      <span translate translation="allNews"></span>
    </button>
    <button
      mat-raised-button
      color="primary"
      [class.filter-selected]="currentFilter === archiveNewsFilter.START"
      (click)="filterNewsBy(archiveNewsFilter.START)"
      class="filter-button"
    >
      <span translate translation="start"></span>
    </button>
    <button
      mat-raised-button
      color="primary"
      [class.filter-selected]="currentFilter === archiveNewsFilter.RESULT"
      (click)="filterNewsBy(archiveNewsFilter.RESULT)"
      class="filter-button"
    >
      <span translate translation="result"></span>
    </button>
    <button
      mat-raised-button
      color="primary"
      [class.filter-selected]="currentFilter === archiveNewsFilter.OTHER"
      (click)="filterNewsBy(archiveNewsFilter.OTHER)"
      class="filter-button"
    >
      <span translate translation="other"></span>
    </button>
  </div>

  <h1 translate translation="newsArchive" class="h1-block-header"></h1>

  <div *ngIf="news; else loader" class="movies-container">
    <ng-container *ngIf="!!news.length; else loader">
      <div class="news-container">
        <div *ngFor="let singleNews of news" (click)="navigateToNewsPage(+singleNews.id)" class="archive-news-row">
          <span>
            <a *ngIf="language" class="blue-link bold">
              {{ language === languages.RU ? singleNews.header : singleNews.headerEn }}
            </a>
            <span class="map-name">{{ singleNews.mapName }}</span>
          </span>
          <div>{{ singleNews.datetimezone | invokeFunction : formatDate }}</div>
        </div>
      </div>

      <div class="pagination-container">
        <div class="pagination">
          <div
            *ngFor="let page of range(pagesCount)"
            [class.selected]="currentPage === page"
            (click)="changePagination(page)"
            matRipple
            class="page blue-link"
          >
            {{ page + 1 }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #loader>
    <div class="loader">
      <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
    </div>
  </ng-template>
</div>
