<div class="background">
    <div class="container">
        <app-site-header></app-site-header>

        <div class="main">
            <div class="main-column">
                <router-outlet></router-outlet>
            </div>
            <div class="right-column">
                <div class="right-block shadowed">
                    <app-cup-timer
                        *ngIf="(nextCupInfo$ | async) as cup"
                        [newsId]="cup.newsId"
                        [startTime]="cup.startTime"
                        [endTime]="cup.endTime"
                        [cupType]="cup.type === 'offline' ? cupTypes.OFFLINE : cupTypes.ONLINE"
                        [cupName]="cup.fullName"
                        [customNews]="cup.customNews"
                        [mapLink]="cup.customMap || cup.mapPk3"
                        [server]="cup.server1">
                    </app-cup-timer>
                </div>
                <div class="right-block shadowed">
                    <app-top-ten-table [physics]="physics.CPM"></app-top-ten-table>
                </div>
                <div class="right-block shadowed">
                    <app-top-ten-table [physics]="physics.VQ3"></app-top-ten-table>
                </div>
            </div>
        </div>
    </div>
</div>