<img *ngIf="hasGrenade" src="/assets/images/icons/weapons/iconw_grenade.png">
<img *ngIf="hasRocket" src="/assets/images/icons/weapons/iconw_rocket.png">
<img *ngIf="hasPlasma" src="/assets/images/icons/weapons/iconw_plasma.png">
<img *ngIf="hasBFG" src="/assets/images/icons/weapons/iconw_bfg.png">
<img *ngIf="hasGauntlet" src="/assets/images/icons/weapons/iconw_gauntlet.png">
<img *ngIf="hasMachinegun" src="/assets/images/icons/weapons/iconw_machinegun.png">
<img *ngIf="hasShotgun" src="/assets/images/icons/weapons/iconw_shotgun.png">
<img *ngIf="hasLightning" src="/assets/images/icons/weapons/iconw_lightning.png">
<img *ngIf="hasRailgun" src="/assets/images/icons/weapons/iconw_railgun.png">
<img *ngIf="hasHook" src="/assets/images/icons/weapons/iconw_grapple.png">