<div class="header shadowed">
  <div class="header-first-row">
    <div class="logo">
      <img class="ushastik" src="/assets/images/ushastik.png" />
      <div class="site-name">Dfcomps</div>
      <div class="slogan">
        Quake 3 Defrag
        <br />
        Competitions
      </div>
    </div>

    <div *ngIf="(theme$ | async) as theme" class="themes">
      <mat-slide-toggle [class]="theme" [checked]="theme === themes.LIGHT" (toggleChange)="toggleTheme()" color="primary"></mat-slide-toggle>
    </div>
    
    <div *ngIf="(language$ | async) as language" class="langs">
      <mat-slide-toggle [class]="language" [checked]="language === languages.RU" (toggleChange)="toggleLanguage()" color="primary"></mat-slide-toggle>
    </div>

    <app-user-panel></app-user-panel>
  </div>

  <mat-divider></mat-divider>

  <div class="header-second-row">
    <nav mat-tab-nav-bar class="navigation">
      <a
        *ngFor="let tab of tabs"
        mat-tab-link
        [active]="activePage === tab.page"
        [class.active]="activePage === tab.page"
        (click)="navigate(tab.page)"
        class="navigation-link"
      >
        <span [translation]="tab.name" translate></span>
      </a>
    </nav>

    <div class="right-container">
      <div class="social-link social-link_trello">
        <a href="https://trello.com/b/kKv83NJL/dfcomps" target="_blank">
          <img src="/assets/images/icons/social/trello.svg" />
          <div class="link-caption blue-link">Trello</div>
        </a>
      </div>

      <div class="social-link social-link_discord">
        <a href="https://discord.gg/UqQEc6h" target="_blank">
          <img src="/assets/images/icons/social/discord.svg" />
          <div class="link-caption blue-link">Discord</div>
        </a>
      </div>

      <div class="social-link social-link_twitch">
        <a href="https://www.twitch.tv/w00deh" target="_blank">
          <img src="/assets/images/icons/social/twitch.svg" />
          <div class="link-caption blue-link">Twitch</div>
        </a>
      </div>

      <div class="social-link social-link_youtube">
        <a href="https://www.youtube.com/channel/UCLyl7evRHAOWSfnRSMKLBVQ" target="_blank">
          <img src="/assets/images/icons/social/youtube.svg" />
          <div class="link-caption blue-link">YouTube</div>
        </a>
      </div>

      <button (click)="onDownloadDefragClick()" mat-raised-button color="accent" class="download-df-button">
        <span translate translation="downloadDefrag"></span>
      </button>
    </div>
  </div>
</div>
