<div class="shadowed-main-block">
    <h1 class="h1-block-header">Общие правила турниров</h1>
    <div class="rules-section">
        <p>
            <b>1. Программные читы</b>
        </p>
        <p>
            <b>1.1</b> Запрещено вносить какие-либо изменения в исходный код quake3 и defrag.
        </p>
        <p>
            <b>1.2</b> Запрещено изменять память, используемую в defrag во время игры с помощью внешних приложений.
        </p>
        <p>
            <b>1.3</b> Разрешенные клиенты defrag для quake3:<br>
            &ndash; idsoftware quake3<br>
            &ndash; ioquake3<br>
            &ndash; OpenArena<br>
            &ndash; dfengine<br>
            &ndash; iodfe<br>
            &ndash; iDFe<br>
            &ndash; cnq3
        </p>
        <p>
            <b>2. Скриптовые читы</b>
        </p>
        <p>
            <b>2.1</b> Запрещено выполнять (с помощью 
            программных или аппаратных средств) последовательность команд, которая повлияет на поведение 
            игрока при помощи заранее определенного времени и порядка исполнения команд.
        </p>
        <p>
            <b>2.2</b> Запрещено использовать любые средства для синхронизации действий игрока
            (прыжки, выстрелы, изменение направления взгляда). Игрок должен синхронизировать
            свои действия самостоятельно.
        </p>
        <p>
            <b>3. Запрещенные действия</b>
        </p>
        <p>
            <b>3.1</b> Запрещено изменять направление взгляда игрока любыми способами, кроме движения мыши.
        </p>
        <p>
            <b>3.2</b> Запрещено привязывать любые действия, связанные с движением игрока, на колесо мыши.
        </p>
        <p>
            <b>3.3</b> Запрещено набирать скорость в течение нескольких моментов времени без 
            изменения положения игрока в пространстве (запрещены волл-баги).
        </p>
        <p>
            <b>4. Игровой аккаунт</b>
        </p>
        <p>
            <b>4.1</b> Игроку запрещено передавать данные своего аккаунта (логин + пароль) третьим лицам.
        </p>
        <p>
            <b>4.2</b> Игроку запрещено играть, используя чужой никнейм / аккаунт.
        </p>
        <p>
            <b>4.3</b> Игроку запрещено иметь более одного аккаунта.
        </p>
    </div>
</div>

<div class="shadowed-main-block" id="online">
    <h1 class="h1-block-header">Правила онлайн турниров</h1>
    <div class="rules-section">
        <p>
            <b>5.1 Порядок проведения онлайн турниров</b>
        </p>
        <p>
            <b>5.1.1</b> Онлайн турниры проходят на выделенных для турнира серверах
            в пять раундов, по 30 минут каждый (если организаторы турнира
            заранее не объявляют об изменениях в количестве и продолжительности раундов).
        </p>
        <p>
            <b>5.1.2</b> Каждый раунд проходит на отдельной карте, которую перед началом раунда объявляет судья. 
        </p>
        <p>
            <b>5.1.3</b> Учитываются результаты игроков, зафиксированные с момента запуска карты,
            до команды судьи об остановке раунда (STOP TIME). 
        </p>
        <p>
            <b>5.1.4</b> Очки за раунд 
            рассчитываются исходя из общего количества игроков на турнире &ndash; игрок,
            занявший первое место получает число очков, равное числу участников, второй игрок получает на
            одно очко меньше, третий - еще на одно меньше и так далее.
        </p>
        <p>
            <b>5.1.5</b> Общий зачет идет по сумме набранных
            очков во всех раундах, при одинаковом количестве очков считается, что игроки заняли одинаковые
            места (нет тай-брейка и дополнительных показателей).
        </p>
        <p>
            <b>5.2</b> Запрещено умышленно имитировать потерю или задержку пакетов в сети.
        </p>
        <p>
            <b>5.3</b> Каждый игрок должен устанавливать свои параметры сетевой игры
            таким образом, чтобы потеря пакетов и пинг были по возможности минимальными.
        </p>
        <p>
            <b>5.4</b> Рекомендованные настройки онлайна:<br>
            &ndash; <span class="italic-console-command">cl_maxpackets "125"</span><br>
            &ndash; <span class="italic-console-command">snaps "125"</span><br>
            &ndash; <span class="italic-console-command">rate "25000"</span><br>
            &ndash; <span class="italic-console-command">cl_packetdup "2"</span> или выше
        </p>
    </div>
</div>

<div class="shadowed-main-block" id="offline">
    <h1 class="h1-block-header">Правила оффлайн турниров</h1>
    <div class="rules-section">
        <p>
            <b>6.1</b> Для игры в оффлайне нужно скачать и использовать 
            <a href="/files/offline-rules.cfg">конфиг с настройками для игры в оффлайне</a>.
        </p>
        <p>
            <b>6.2</b> На оффлайн турнирах разрешено присылать демки, записанные в онлайне на серверах 
            <a href="http://q3df.org/serverlist">q3df.org</a>.
        </p>
        <p>
            <b>6.3.</b> Овербаунсы
        </p>
        <p>
            <b>6.3.1</b> Овербаунс - баг физики, возникающий при падении на поверхность с определенной 
            скоростью и дающий вертикальную и/или горизонтальную скорость. Определить овербаунс можно с 
            помощью команд <span class="italic-console-command">df_chs1_info1 56</span> и 
            <span class="italic-console-command">df_chs1_Draw 1</span>, при валидации демок также используется 
            команда <span class="italic-console-command">df_ob_allslopes 1</span>.
        </p>
        <p>
            <b>6.3.2</b> По умолчанию, настройка <span class="italic-console-command">df_ob_killobs 1</span> обязательна,
            если в новости о турнире не указано, что df_ob_killobs 0 разрешен.
        </p>
        <p>
            <b>6.3.3</b> Не рандомными считаются только овербаунсы с одной горизонтальной поверхности на другую 
            горизонтальную поверхность, при этом возможны несколько вариантов:<br>
            &ndash; овербаунс до прыжка виден на овербаунс-детекторе (либо был бы виден, если бы поверхности 
            были в прямой видимости);<br>
            &ndash; овербаунс был сделан после двойного прыжка в CPM от прямой поверхности (не рампы и не
            лестницы со ступеньками, меньше чем 16 юнитов);<br>
            &ndash; овербаунс был сделан после другого нерандомного овербаунса;<br>
            &ndash; овербаунс был сделан после удара об прямой потолок, при этом высота прыжка была набрана
            без использования оружия и прыжков от рамп.
        </p>
        <p>
            <b>6.3.4</b> Два вида овербаунсов всегда считаются рандомными, если в описании турнира 
            напрямую не разрешены такие овербаунсы:<br>
            &ndash; Овербаунсы с использованием нетвердых брашей (вода, лава, и т.п.);<br>
            &ndash; Sticky-овербаунсы, которые возникают только при определенных условиях, которые должны 
            возникнуть до начала прыжка.
        </p>
        <p>
            <b>6.4</b> Запрещен таймресет (обнуление стартового триггера, при котором уже 
            запущенный таймер времени сбрасывается до нуля).
        </p>
        <p>
            <b>6.5</b> Запрещено использование для получения преимущества особенностей карт (двери, кнопки и прочее),
            положение или состояние которых отличается от изначальных при использовании map_restart.
        </p>
    </div>
</div>
