<app-html-news [news]="news"></app-html-news>
<div class="players-table-description">
  <span translate translation="listOfRegisteredPlayers"></span>
  <span>:</span>
</div>
<div class="players-table" data-test-id="online-cup-players-table">
  @for (row of range(rowCount); track row) {
    <div class="players-row">
      @for (column of range(columnCount); track column) {
        <div class="players-cell">
          <div class="number">{{ column * rowCount + row + 1 }}</div>
          <div class="player">
            @if (registeredPlayers[column * rowCount + row]; as player) {
              <app-player-cell
                [country]="player.country"
                [nick]="player.nick"
                [playerId]="player.id"
                class="player-cell"
              ></app-player-cell>
            }
          </div>
        </div>
      }
    </div>
  }
</div>
<div class="buttons-container">
  @if (showStreamersTimerLink$ | async) {
    <button
      (click)="goToStreamersTimer()"
      mat-raised-button
      color="primary"
      class="action-button"
      data-test-id="streamers-timer-button"
      >
      <span translate translation="openStreamersTimer"></span>
    </button>
  }
  <button
    (click)="toggleRegistration()"
    mat-raised-button
    color="primary"
    class="action-button"
    data-test-id="button-toggle-cup-registration"
    >
    @if (isRegistered) {
      <span translate translation="cancelRegistration"></span>
    }
    @if (!isRegistered) {
      <span translate translation="registerForCup"></span>
    }
  </button>
  <button (click)="openFullTable()" mat-raised-button color="primary" class="action-button">
    <span translate translation="fullTable"></span>
  </button>
</div>
