<mat-card class="container">
  <ng-container *ngIf="currentSeason$ | async as currentSeason; else isLoading">
    <h3>Current season: {{ currentSeason }}</h3>
    <button
      *ngIf="!isFinishingSeason"
      (click)="showEndSeasonButtons()"
      mat-raised-button
      color="accent"
      style="margin-top: 16px"
    >
      Finish season
    </button>
    <ng-container *ngIf="isFinishingSeason">
      <div>
        <span class="button-count">1.</span>
        <button
          [disabled]="currentFinishingStep !== 1 || isLoadingQuery"
          (click)="saveSeasonRatings()"
          mat-raised-button
          color="accent"
          class="finish-season-button"
        >
          Save old ratings
        </button>
        <span *ngIf="currentFinishingStep > 1" class="done-caption">Done!</span>
      </div>
      <div>
        <span class="button-count">2.</span>
        <button
          [disabled]="currentFinishingStep !== 2 || isLoadingQuery"
          (click)="setSeasonRewards()"
          mat-raised-button
          color="accent"
          class="finish-season-button"
        >
          Set rewards
        </button>
        <span *ngIf="currentFinishingStep > 2" class="done-caption">Done!</span>
      </div>
      <div>
        <span class="button-count">3.</span>
        <button
          [disabled]="currentFinishingStep !== 3 || isLoadingQuery"
          (click)="resetSeasonRatings()"
          mat-raised-button
          color="accent"
          class="finish-season-button"
        >
          Reset ratings
        </button>
        <span *ngIf="currentFinishingStep > 3" class="done-caption">Done!</span>
      </div>
      <div>
        <span class="button-count">4.</span>
        <button
          [disabled]="currentFinishingStep !== 4 || isLoadingQuery"
          (click)="incrementSeason()"
          mat-raised-button
          color="accent"
          class="finish-season-button"
        >
          Increment season counter
        </button>
        <span *ngIf="currentFinishingStep > 4" class="done-caption">Done!</span>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #isLoading>
    <div class="spinner">
      <mat-spinner diameter="75" strokeWidth="4" color="accent"></mat-spinner>
    </div>
  </ng-template>
</mat-card>
