<mat-expansion-panel [class.overflow-visible]="isOverflowVisible" [expanded]="expanded" class="expansion-panel">
  <mat-expansion-panel-header class="expansion-panel-header">
    <mat-panel-title class="panel-title">
      <span translate translation="comments"></span>
      <span>&nbsp;({{ comments.length }})</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-container *ngIf="commentsWithActions$ | async as comments">
    <div *ngIf="comments.length" class="comments-container">
      <ng-container *ngFor="let comment of comments; let i = index">
        <div class="comment">
          <div class="comment-header">
            <div class="comment-header-left">
              <span [class.no-hover]="!(currentUser$ | async)" (click)="copyIdToComment(i + 1)" class="black-link"
                >#{{ i + 1 }}</span
              >
              <span class="separator"></span>
              <span>
                <a routerLink="/profile/{{ comment.playerId }}" class="black-link">{{ comment.username }}</a>
              </span>
              <span *ngIf="comment.isEditable">
                <span class="separator"></span>
                <a (click)="editComment(comment.id)" class="bluelink hoverable">
                  <span translate translation="edit"></span>
                </a>
              </span>
              <span *ngIf="comment.isEditable">
                <span class="separator"></span>
                <a (click)="deleteComment(comment.id)" class="bluelink hoverable">
                  <span translate translation="delete"></span>
                </a>
              </span>
              <span *ngIf="comment.isAdminDeletable">
                <span class="separator"></span>
                <a (click)="adminDeleteComment(comment.id)" class="bluelink hoverable">
                  <span translate translation="delete"></span>
                </a>
              </span>
            </div>
            <div class="comment-header-right">
              {{ comment.datetimezone | invokeFunction: formatDate }}
            </div>
          </div>
          <ng-container *ngIf="!comment.reason; else adminDeleted">
            <app-news-comment-text
              *ngIf="personalSmiles$ | async as personalSmiles"
              [comment]="comment"
              [personalSmiles]="personalSmiles"
              [currentUser]="(currentUser$ | async)!"
            >
            </app-news-comment-text>
          </ng-container>
          <ng-template #adminDeleted>
            <div class="comment-inner-gray">
              <span translate translation="commentDeletedByAdmin"></span>
              <span>{{ comment.reason }}</span>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="currentUser$ | async; else notLogged">
    <div *ngIf="editingCommentId" class="write-commentary"><span translate translation="editComment"></span>:</div>
    <div *ngIf="!editingCommentId" class="write-commentary"><span translate translation="writeComment"></span>:</div>
    <div class="textarea-container">
      <textarea #textarea class="comment-textarea"></textarea>
      <img (click)="openSmilesDropdown($event)" src="/assets/images/icons/smile-icon.png" class="smiles-icon" />
      <app-smiles-dropdown
        *ngIf="personalSmiles$ | async as personalSmiles"
        #smilesDropdown
        [class.hidden]="smilesDropdownDisplayHidden"
        [currentUser]="(currentUser$ | async)!"
        [personalSmiles]="personalSmiles"
        [@smilesDialog]="smilesDropdownOpened ? openedAnimationState : closedAnimationState"
        (@smilesDialog.done)="onAnimationEnd($event)"
        (clickOutside)="closeSmilesDropdown()"
        (chooseSmile)="addSmile($event)"
      >
      </app-smiles-dropdown>
    </div>

    <div *ngIf="!editingCommentId; else isEditing" class="send-comment-button">
      <mat-spinner *ngIf="isLoading" diameter="20" strokeWidth="2" color="accent" class="spinner"></mat-spinner>
      <button
        [disabled]="isLoading"
        (click)="sendComment()"
        mat-raised-button
        color="primary"
        class="add-comment-button"
      >
        <span translate translation="send"></span>
      </button>
    </div>

    <ng-template #isEditing>
      <div class="buttons-container">
        <div class="spinner-with-button">
          <div class="spinner-container">
            <mat-spinner *ngIf="isLoading" diameter="20" strokeWidth="2" color="accent"></mat-spinner>
          </div>
          <button [disabled]="isLoading" (click)="updateComment()" mat-raised-button color="primary">
            <span translate translation="save"></span>
          </button>
        </div>

        <button [disabled]="isLoading" (click)="cancelEditingComment()" mat-raised-button color="primary">
          <span translate translation="cancel"></span>
        </button>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #notLogged>
    <div translate translation="loginOrRegisterToComment" class="not-logged"></div>
  </ng-template>
</mat-expansion-panel>
