<div class="map-info-container">
    <div class="image-container">
        <img [src]="news.levelshot" class="levelshot"/>
    </div>
    <div class="tables-container">
        <div class="map-info-table">
            <div class="map-info-row">
                <div class="row-desc">
                    <span translate translation="map"></span>
                </div>
                <div class="row-info">
                    <a [href]="news.cup.mapPk3" target="_blank" class="map-link">{{ news.cup.map1 }}</a>
                </div>
            </div>
            <div class="map-info-row">
                <div class="row-desc">
                    <span translate translation="start"></span>
                </div>
                <div class="row-info">
                    <app-gmt-date-time [dateTime]="news.cup.startDateTime"></app-gmt-date-time>
                </div>
            </div>
            <div class="map-info-row">
                <div class="row-desc">
                    <span translate translation="finish"></span>
                </div>
                <div class="row-info">
                    <app-gmt-date-time [dateTime]="news.cup.endDateTime"></app-gmt-date-time>
                </div>
            </div>
            <div class="map-info-row">
                <div class="row-desc">
                    <span translate translation="author"></span>
                </div>
                <div class="row-info">{{ news.cup.mapAuthor }}</div>
            </div>
            <div class="map-info-row">
                <div class="row-desc">
                    <span translate translation="weapons"></span>
                </div>
                <div class="row-info">
                    <app-weapons [weapons]="news.cup.mapWeapons"></app-weapons>
                </div>
            </div>
            <div class="map-info-row">
                <div class="row-desc">
                    <span translate translation="download"></span>
                </div>
                <div class="row-info">
                    <a [href]="news.cup.mapPk3" download>{{ news.cup.mapSize }} MB</a>
                </div>
            </div>
            <div class="map-info-row">
                <div class="row-desc">
                    <span translate translation="rules"></span>
                </div>
                <div class="row-info">
                    <a target="_blank" href="https://reflex.racing/cups/world-cup/">RRWC Ruleset</a>
                </div>
            </div>
        </div>
        <div class="map-info-table">
            <div class="map-info-row">
                <div class="row-desc">
                    <span translate translation="upload"></span>
                </div>
                <div class="row-info">
                    <ng-container *ngIf="user$ | async; else notLogged">
                        <ng-container [ngSwitch]="cupState">
                            <div *ngSwitchCase="cupStates.IN_PROGRESS" class="demo-upload-block">
                                <input #fileInput name="demo" accept=".rep" type="file">
                                <div (click)="uploadDemo()" class="demo-upload-button">
                                    <mat-spinner *ngIf="isUploading" diameter="20" strokeWidth="2" color="accent" class="spinner"></mat-spinner>
                                    <img *ngIf="!isUploading" src="/assets/images/icons/upload.jpg" />
                                </div>
                            </div>
                            <div *ngSwitchCase="cupStates.FINISHED || cupStates.NOT_STARTED">
                                <span translate translation="cupFinished"></span>
                            </div>
                            <div *ngSwitchCase="cupStates.NOT_STARTED">
                                <span translate translation="cupNotStarted"></span>
                            </div>
                        </ng-container>
                    </ng-container>

                    <ng-template #notLogged>
                        <span translate translation="loginOrRegister"></span>
                    </ng-template>
                </div>
            </div>
            <div class="map-info-row">
                <div class="row-desc">
                    <span translate translation="time"></span>
                </div>
                <div class="row-info">
                    <ng-container *ngIf="news.playerDemos && !!news.playerDemos.length; else noDemos">
                        <div class="top-demos">
                            <ng-container *ngIf="news.cpmRes && news.cpmDemo">
                                <a href="{{ mainUrl }}/api/uploads/demos/cup{{ news.cup.id }}/{{ news.cpmDemo }}">Demo uploaded</a>&nbsp;(reflex)
                                <span *ngIf="news.vq3Res && news.vq3Demo">,&nbsp;</span>
                            </ng-container>
                        </div>
                        <div (click)="openPlayerDemosDialog()" class="player-demos-button">
                            <img src="/assets/images/icons/list.png" />
                        </div>
                    </ng-container>
                    <ng-template #noDemos>
                        <span translate translation="noUploadedDemos"></span>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="news.cup.bonusRating !== '0'" class="bonus-rating">
    <span translate translation="bonusRating"></span>: +{{ news.cup.bonusRating }}.
</div>

<app-html-news [news]="news"></app-html-news>