<ng-container *ngIf="user$ | async; else notLogged">
    <ng-container *ngIf="queueInfo && matchState; else loading">
        <ng-container [ngSwitch]="matchState">
            <ng-container *ngSwitchCase="matchStates.WAITING_FOR_QUEUE">
                <div class="row first">
                    <div class="text-column">
                        <div><span translate translation="currentMatchesIn"></span> VQ3: {{ queueInfo.vq3Matches }}</div>
                        <div><span translate translation="playersInQueue"></span> VQ3: {{ queueInfo.vq3PlayersInQueue }}</div>
                    </div>
                    <button [disabled]="isWaitingForServerAnswer" (click)="joinQueue(physics.VQ3)" mat-raised-button color="primary">Поиск VQ3</button>
                </div>
                <div class="row">
                    <div class="text-column">
                        <div><span translate translation="currentMatchesIn"></span> CPM: {{ queueInfo.cpmMatches }}</div>
                        <div><span translate translation="playersInQueue"></span> CPM: {{ queueInfo.cpmPlayersInQueue }}</div>
                    </div>
                    <button [disabled]="isWaitingForServerAnswer" (click)="joinQueue(physics.CPM)" mat-raised-button color="primary">Поиск CPM</button>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="matchStates.IN_QUEUE">
                <div class="block"><span translate translation="inQueue"></span></div>
            </ng-container>
            <ng-container *ngSwitchCase="matchStates.MATCH_IN_PROGRESS">
                <div class="block"><span translate translation="matchInProgress"></span></div>
            </ng-container>
            <ng-container *ngSwitchCase="matchStates.MATCH_FINISHED">
                <div class="block"><span translate translation="matchFinished"></span></div>
            </ng-container>
            <ng-container *ngSwitchCase="matchStates.DUPLICATE_CLIENT">
                <div class="block"><span translate translation="matchesPageOpenedElsewhere"></span></div>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #loading>
    <div class="block loading">
        <mat-spinner diameter="40" strokeWidth="3" color="accent"></mat-spinner>
    </div>
</ng-template>

<ng-template #notLogged>
    <div class="block">Войдите или зарегистрируйтесь, чтобы играть 1v1 матчи</div>
</ng-template>