<div class="shadowed-main-block">
  <h1 *ngIf="currentSeason === currentSeasonConst" class="h1-block-header">
    <span translate translation="currentSeasonRatingList"></span>
  </h1>
  <h1 *ngIf="currentSeason !== currentSeasonConst" class="h1-block-header">
    <span translate translation="seasonRatingList"></span>
    <span> {{ currentSeason }}</span>
  </h1>
  <div class="top-text">
    <span translate translation="youCanWatchFullRatingSystemDescription"></span>
    <span>&nbsp;</span>
    <a class="bold-link" routerLink="/rating/system"><span translate translation="here"></span></a>
  </div>
  <div class="top-text">
    <span translate translation="ratingsBySeason"></span>:
    <a (click)="setSeason(1)" class="season-link"><span translate translation="season"></span>&nbsp;1</a>
    <a (click)="setSeason(2)" class="season-link"><span translate translation="season"></span>&nbsp;2</a>
    <a (click)="setSeason(3)" class="season-link"><span translate translation="season"></span>&nbsp;3</a>
    <a (click)="setSeason(4)" class="season-link"><span translate translation="season"></span>&nbsp;4</a>
    <a (click)="setSeason(5)" class="season-link"><span translate translation="season"></span>&nbsp;5</a>
  </div>

  <div class="tables-container">
    <div class="rating-table">
      <h2 class="h1-block-header">Vq3</h2>
      <div
        *ngIf="(isLoadingVq3$ | async) === false && (vq3Ratings$ | async) as vq3Ratings; else loader"
        class="table-border"
      >
        <app-players-rating-table [ratingTable]="vq3Ratings" [bias]="bias"></app-players-rating-table>
      </div>
    </div>
    <div class="rating-table">
      <h2 class="h1-block-header">Cpm</h2>
      <div
        *ngIf="(isLoadingCpm$ | async) === false && (cpmRatings$ | async) as cpmRatings; else loader"
        class="table-border"
      >
        <app-players-rating-table [ratingTable]="cpmRatings" [bias]="bias"></app-players-rating-table>
      </div>
    </div>
  </div>

  <ng-container *ngIf="currentSeason === currentSeasonConst; else previousSeason">
    <div *ngIf="(pagesCount$ | async) as pagesCount;" class="pagination-container">
      <a *ngFor="let page of range(pagesCount); let i = index;" (click)="loadCurrentSeasonPage(i + 1)">{{ i + 1 }}</a>
    </div>
  </ng-container>

  <ng-template #previousSeason>
    <div *ngIf="(pagesCount$ | async) as pagesCount;" class="pagination-container">
      <a *ngFor="let page of range(pagesCount); let i = index;" (click)="loadPreviousSeasonPage(i + 1)">{{ i + 1 }}</a>
    </div>
  </ng-template>

  <ng-template #loader>
    <div class="loader">
      <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
    </div>
  </ng-template>
</div>
