<input style="margin:12px;" />

<hr style="margin:0;"/>

<div style="height: 250px;overflow-y:scroll;">
    <div *ngFor="let smileGroup of (sortedAndGroupedSmiles$ | async)" style="padding:12px;">
        <div><strong>{{ smileGroup.name }}</strong></div>
        <div style="display:flex;flex-wrap:wrap;">
            <div *ngFor="let smile of smileGroup.items" [ngStyle]="smile | invokeFunction : getSmileStyle" style="width:32px;height:32px;transform:scale(0.75);transform-origin: 0 0;"></div>
        </div>
    </div>
</div>

<hr style="margin:0;"/>

<div style="margin:12px;">Выбранный смайл</div>