<input placeholder="Поиск смайлов" class="smile-search-input" />

<div class="scroll-container">
    <div class="groups-container">
        <div *ngFor="let smileGroup of (sortedAndGroupedSmiles$ | async)" class="smile-group">
            <div class="group-name">{{ smileGroup.name }}</div>
            <div class="smiles-container">
                <div 
                    *ngFor="let smile of smileGroup.items"
                    (click)="chooseSmile.emit(smile)"
                    (mouseover)="setFocusedSmile(smile)"
                    (mouseout)="setFocusedSmile(null)"
                    class="smile-container">

                    <div [ngStyle]="smile | invokeFunction : getSmileStyle" class="smile"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chosen-smile-container">
    <div *ngIf="!hoveredSmile; else chosenSmileTemplate" class="chosen-smile-placeholder">
        Выбранный смайл
    </div>

    <ng-template #chosenSmileTemplate>
        <div [ngStyle]="hoveredSmile | invokeFunction : getSmileStyle" class="smile big"></div>
        <div class="smile-name">:{{ hoveredSmile.name }}:</div>
    </ng-template>
</div>