<div class="shadowed-main-block">
  <h1 class="h1-block-header">
    <span translate translation="oneVOneMatches" [ngClass]="'bebas'"></span>
  </h1>

  <div class="row">
    <div class="main-screen">
      <ng-container *ngIf="user$ | async; else notLogged">
        <ng-container [ngSwitch]="matchState">
          <ng-container *ngSwitchCase="matchStates.WAITING_FOR_QUEUE">
            <div class="main-screen-title">
              <span translate translation="waitingForQueue" class="bebas"></span>
            </div>
            <div class="queue-buttons-container">
              <button
                [class.disabled]="isWaitingForServerAnswer"
                [disabled]="isWaitingForServerAnswer"
                (click)="joinQueue(physics.VQ3)"
                mat-raised-button
                color="accent"
              >
                <span translate translation="playOneVersusOne"></span>&nbsp;<span>VQ3</span>
              </button>
              <button
                [class.disabled]="isWaitingForServerAnswer"
                [disabled]="isWaitingForServerAnswer"
                (click)="joinQueue(physics.CPM)"
                mat-raised-button
                color="accent"
              >
                <span translate translation="playOneVersusOne"></span>&nbsp;<span>CPM</span>
              </button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="matchStates.IN_QUEUE">
            <div class="main-screen-title">
              <span translate translation="inQueue" class="bebas"></span>
            </div>
            <div class="searching-for-opponent">
              <span translate translation="searchingForOpponent" class="bebas"></span>: {{ selectedPhysics }}
            </div>
            <div class="queue-timer">
              <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
              <div class="timer">
                <app-queue-timer></app-queue-timer>
              </div>
            </div>
            <div class="leave-queue">
              <button (click)="leaveQueue()" mat-raised-button color="accent">
                <span translate translation="cancelSearch"></span>
              </button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="matchStates.MATCH_IN_PROGRESS">
            <app-match-progress
              [match]="match"
              [user]="(user$ | async)!"
              [playersInfo]="playersInfo!"
              (mapBanned)="onMapBanned($event)"
            >
            </app-match-progress>
          </ng-container>
          <ng-container *ngSwitchCase="matchStates.MATCH_FINISHED">
            <div class="main-screen-title">
              <span translate translation="matchFinished" class="bebas"></span>, {{ playersInfo | invokeFunction :
              getMatchWinner }}
              <span translate [translation]="playersInfo | invokeFunction : getMatchResult" class="bebas"></span>
            </div>
            <div *ngIf="playersInfo" class="result-container">
              <app-pickban-map
                [pickbanPhase]="pickbanPhases.PICK_BANS_FINISHED"
                [map]="{ map: playersInfo.map!, isPickedByPlayer: true, isPickedByOpponent: true, isBannedByPlayer: false, isBannedByOpponent: false }"
              >
              </app-pickban-map>
              <div class="player-result">
                <div class="flex">
                  <app-big-flag [country]="playersInfo.firstPlayerInfo.country"></app-big-flag>
                  <div class="player-nick">
                    {{ playersInfo.firstPlayerInfo?.nick }}
                    <app-one-v-one-rating-change
                      [ratingChange]="playersInfo.firstPlayerRatingChange!"
                    ></app-one-v-one-rating-change>
                  </div>
                </div>
                <div class="player-time">
                  <a
                    *ngIf="playersInfo.firstPlayerTime"
                    [href]="playersInfo.firstPlayerDemo | invokeFunction : getDemoLink : playersInfo.matchId"
                    class="demo-link"
                    download
                  >
                    {{ playersInfo.firstPlayerTime }}
                  </a>
                  <span *ngIf="!playersInfo.firstPlayerTime" class="demo-link">---</span>
                </div>
              </div>
              <div class="player-result">
                <div class="flex">
                  <app-big-flag [country]="playersInfo.secondPlayerInfo!.country"></app-big-flag>
                  <div class="player-nick">
                    {{ playersInfo.secondPlayerId === '-1' ? 'dfcomps bot' : playersInfo.secondPlayerInfo?.nick }}
                    <app-one-v-one-rating-change
                      [ratingChange]="playersInfo.secondPlayerRatingChange!"
                    ></app-one-v-one-rating-change>
                  </div>
                </div>
                <div class="player-time">
                  <a
                    *ngIf="playersInfo.secondPlayerTime"
                    [href]="playersInfo.secondPlayerDemo | invokeFunction : getDemoLink : playersInfo.matchId"
                    class="demo-link"
                    download
                  >
                    {{ playersInfo.secondPlayerTime }}
                  </a>
                  <span *ngIf="!playersInfo.secondPlayerTime" class="demo-link">---</span>
                </div>
              </div>
            </div>
            <div class="next-match-button">
              <button (click)="acceptResult()" mat-raised-button color="accent">
                <span translate translation="playNextMatch"></span>
              </button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="matchStates.DUPLICATE_CLIENT">
            <div class="message-container">
              <div class="message-caption">
                <span translate translation="matchesPageOpenedElsewhere" class="bebas"></span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div class="message-container">
              <div class="message-caption">
                <span translate translation="waitingForServerConnection" class="bebas"></span>
              </div>
              <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-template #notLogged>
        <div class="not-logged">
          <span translate translation="registerToPlayMatches" class="bebas"></span>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="rules">
      <div class="block-header">
        <span translate translation="descriptionAndRules"></span>
      </div>
      <div class="block-content">
        <ul *ngIf="(language$ | async) === languages.RU" class="padding-left-20">
          <li>Сначала нужно выбрать физику и зайти в очередь</li>
          <li>
            Если в течение минуты матч с другим игроком не будет найден, будет начат матч с ботом. Тайм бота
            рассчитывается от рейтинга игрока и мирового рекорда на карте
          </li>
          <li>Игроки по очереди блокируют карты, пока не останется одна карта</li>
          <li>
            После того как карта будет выбрана нужно установить name либо df_name из поля код и запустить выбранную
            карту
          </li>
          <li>
            У игроков будет 15 минут, чтобы записать демо на выбранной карте в соответствующей физике, после записи
            тайма нужно загрузить его через кнопку 'Загрузить демо'
          </li>
          <li>Игрок, поставивший меньший тайм, побеждает</li>
          <li>
            Валидными считаются все демки, которые были бы валидны на онлайн-капе (запрещены только скрипты и читы)
          </li>
        </ul>
        <ul *ngIf="(language$ | async) === languages.EN" class="padding-left-20">
          <li>First you need to select physics and enter the queue</li>
          <li>
            If a match with another player is not found within a minute, a match with a bot will be started. The bot's
            time is calculated from the player's rating and the world record on the map
          </li>
          <li>Players take turns banning maps until one map is left</li>
          <li>
            After the map is selected, you need to set name or df_name from the code field and run the selected map
          </li>
          <li>
            Players will have 15 minutes to record a demo on the selected map in the corresponding physics, after
            recording the time, you need to upload it via the 'Upload demo' button
          </li>
          <li>The player with the lowest time wins</li>
          <li>
            All demos that would be valid on the online cup are considered valid (only scripts and cheats are
            prohibited)
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="row">
        <div class="player-matches">
            <div class="block-header">Мои матчи</div>
        </div>
        <div class="all-matches">
            <div class="block-header">Все матчи</div>
        </div>
    </div> -->
</div>
