.stat-container {
  border: 1px solid var(--comments-border-color);
  margin-top: 8px;
  align-items: center;
  color: white;
  text-align: left;
  padding: 16px;
  display: flex;
  align-items: flex-start;
}

.physics-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.physics-header {
  display: flex;
  margin-bottom: 8px;
}

.physics-badge {
  width: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #ffffff;
  font-family: bebas;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 26px;
  letter-spacing: 1px;

  &.vq3 {
    background: linear-gradient(to bottom, #a7383b 0%, #882e33 100%);
  }

  &.cpm {
    background: linear-gradient(to bottom, #3b64ae 0%, #2a447e 100%);
  }
}

.fade-horizontal {
  flex: 0.85;
  height: 24px;
  background: var(--profile-tournament-stats-gradient);
}

.overall-row {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.vertical-separator {
  width: 1px;
  height: 188px;
  margin: 0px 16px 0px 16px;
  background: var(--comments-border-color);
}

.bar-chart-icon {
  color: var(--1v1-text-color);
  transform: scale(0.9);
}

.overall-count {
  font-family: bebas;
  font-size: 28px;
  color: var(--base-font-color);
  position: absolute;
  right: 0px;
  top: 2px;
  width: 36px;
  text-align: center;
}

.stat-row {
  display: flex;
  align-items: center;
  height: 36px;
  border-bottom: 1px solid var(--comments-border-color);

  &.last {
    border-bottom: 0;
  }
}

.stat-name {
  color: var(--base-font-color);
  margin-left: 8px;
  flex: 1;
}

.stat-value {
  color: var(--base-font-color);
  font-family: bebas;
  font-size: 24px;
  width: 36px;
  text-align: center;
}

.place-icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  margin-right: 4px;
}
