<div class="bold-15">Tournament stats:</div>
<div class="stat-container">
  <div class="physics-container">
    <div class="physics-header">
      <div>
        <div class="physics-badge vq3">VQ3</div>
      </div>
      <div class="overall-row">
        <div class="fade-horizontal"></div>
        <div class="overall-count">{{ stats.vq3_cups }}</div>
      </div>
    </div>
    <div class="stat-row">
      <mat-icon class="bar-chart-icon">bar_chart</mat-icon>
      <div class="stat-name" translate translation="averagePlace"></div>
      <div class="stat-value">{{ stats.vq3_avg }}</div>
    </div>
    <div class="stat-row">
      <img class="place-icon" src="/assets/images/icons/result-tables/gold.png" />
      <div class="stat-name" translate translation="firstPlaces"></div>
      <div class="stat-value">{{ stats.vq3_first_place }}</div>
    </div>
    <div class="stat-row">
      <img class="place-icon" src="/assets/images/icons/result-tables/silver.png" />
      <div class="stat-name" translate translation="secondPlaces"></div>
      <div class="stat-value">{{ stats.vq3_second_place }}</div>
    </div>
    <div class="stat-row last">
      <img class="place-icon" src="/assets/images/icons/result-tables/bronze.png" />
      <div class="stat-name" translate translation="thirdPlaces"></div>
      <div class="stat-value">{{ stats.vq3_third_place }}</div>
    </div>
  </div>
  <div class="vertical-separator"></div>
  <div class="physics-container">
    <div class="physics-header">
      <div>
        <div class="physics-badge cpm">CPM</div>
      </div>
      <div class="overall-row">
        <div class="fade-horizontal"></div>
        <div class="overall-count">{{ stats.cpm_cups }}</div>
      </div>
    </div>
    <div class="stat-row">
      <mat-icon class="bar-chart-icon">bar_chart</mat-icon>
      <div class="stat-name" translate translation="averagePlace"></div>
      <div class="stat-value">{{ stats.cpm_avg }}</div>
    </div>
    <div class="stat-row">
      <img class="place-icon" src="/assets/images/icons/result-tables/gold.png" />
      <div class="stat-name" translate translation="firstPlaces"></div>
      <div class="stat-value">{{ stats.cpm_first_place }}</div>
    </div>
    <div class="stat-row">
      <img class="place-icon" src="/assets/images/icons/result-tables/silver.png" />
      <div class="stat-name" translate translation="secondPlaces"></div>
      <div class="stat-value">{{ stats.cpm_second_place }}</div>
    </div>
    <div class="stat-row last">
      <img class="place-icon" src="/assets/images/icons/result-tables/bronze.png" />
      <div class="stat-name" translate translation="thirdPlaces"></div>
      <div class="stat-value">{{ stats.cpm_third_place }}</div>
    </div>
  </div>
</div>
