<div class="bold-15">
  Tournament stats:
</div>
<div class="stat-container">
  <div class="vq3-container">
    <span class="stat physics purple">VQ3</span>
    <label class="stat stat-wide purple">TOTAL: {{ stats.vq3_cups }} </label>
    <label class="stat stat-wide purple">AVG: {{ stats.vq3_avg }} </label>
    <label class="stat medal gold">
      <img src="/assets/images/icons/result-tables/gold.png" class="icon" />
       {{ stats.vq3_first_place }} 
    </label>
    <label class="stat medal silver">
      <img src="/assets/images/icons/result-tables/silver.png" class="icon" />
      {{ stats.vq3_second_place }} 
    </label>
    <label class="stat medal bronze">
      <img src="/assets/images/icons/result-tables/bronze.png" class="icon" />
      {{ stats.vq3_third_place }} 
    </label> 
  </div>
  <div class="cpm-container">
    <span class="stat physics purple">CPM</span>
    <label class="stat stat-wide purple">TOTAL: {{ stats.cpm_cups }} </label>
    <label class="stat stat-wide purple">AVG: {{ stats.cpm_avg }} </label>
    <label class="stat medal gold">
      <img src="/assets/images/icons/result-tables/gold.png" class="icon" />
      {{ stats.cpm_first_place }} 
    </label>
    <label class="stat medal silver">
      <img src="/assets/images/icons/result-tables/silver.png" class="icon" />
      {{ stats.cpm_second_place }} 
    </label>
    <label class="stat medal bronze">
      <img src="/assets/images/icons/result-tables/bronze.png" class="icon" />
      {{ stats.cpm_third_place }} 
    </label>  
  </div>
</div>