<ng-container *ngIf="user$ | async as user; else notLogged">
  <span class="logged-in-as">
    <span translate translation="loggedInAs"></span>
    <span data-test-id="user-nick-text">&nbsp;{{ user.nick }}</span>
  </span>
  <div class="profile-links">
    <a *ngIf="hasAdminPanelAccess(user)" matRipple href="/admin" class="profile-link blue-link">
      <span translate translation="adminPanel"></span>
    </a>
    <!-- TODO [DFRU-30] Страница команды -->
    <!-- <div matRipple class="profile-link blue-link">Команда</div> -->
    <div (click)="onProfileClick()" matRipple class="profile-link blue-link">
      <span translate translation="profile"></span>
    </div>
    <div (click)="onLogoutClick()" matRipple class="profile-link blue-link" data-test-id="logout-button">
      <span translate translation="logout"></span>
    </div>
  </div>
</ng-container>
<ng-template #notLogged>
  <div class="profile-links">
    <div (click)="onLoginClick()" matRipple class="profile-link blue-link" data-test-id="userpanel-login-button">
      <span translate translation="logIn"></span>
    </div>
    <div (click)="onRegisterClick()" matRipple class="profile-link blue-link">
      <span translate translation="signUp"></span>
    </div>
  </div>
</ng-template>
