@if (user$ | async; as user) {
  <span class="logged-in-as">
    <span translate translation="loggedInAs"></span>
    <span data-test-id="user-nick-text">&nbsp;{{ user.nick }}</span>
  </span>
  <div class="profile-links">
    @if (hasAdminPanelAccess(user)) {
      <a
        matRipple
        href="/admin"
        class="profile-link blue-link"
        data-test-id="admin-panel-button"
        >
        <span translate translation="adminPanel"></span>
      </a>
    }
    @if (isValidSuggestionTime) {
      <div (click)="onMapSuggestionClick()" matRipple class="profile-link blue-link">
        <span translate translation="mapSuggestion"></span>
      </div>
    }
    @if (!isValidSuggestionTime) {
      <div
        [matTooltip]="suggestionHintText"
        matTooltipPosition="above"
        class="profile-link gray"
        >
        <span translate translation="mapSuggestion"></span>
      </div>
    }
    <div (click)="onProfileClick()" matRipple class="profile-link blue-link">
      <span translate translation="profile"></span>
    </div>
    <div (click)="onLogoutClick()" matRipple class="profile-link blue-link" data-test-id="logout-button">
      <span translate translation="logout"></span>
    </div>
  </div>
} @else {
  <div class="profile-links">
    <div (click)="onLoginClick()" matRipple class="profile-link blue-link" data-test-id="userpanel-login-button">
      <span translate translation="logIn"></span>
    </div>
    <div (click)="onRegisterClick()" matRipple class="profile-link blue-link">
      <span translate translation="signUp"></span>
    </div>
  </div>
}
