<a *ngIf="customNews; else newsIdLink" [href]="customNews" target="_blank" class="news-link">
    <h1 class="cup-name">{{ cupName }}</h1>
</a>
<ng-template #newsIdLink>
    <a href="/news/{{ newsId }}" class="news-link">
        <h1 class="cup-name">{{ cupName }}</h1>
    </a>
</ng-template>
<h2 class="cup-date-time">
    <span translate translation="finished"></span> {{ formattedTime$ | async }}
</h2>
<div class="timeholder">
    <span translate translation="finished"></span>
</div>
<a [href]="mapLink" class="map-link" download>
    <div class="bottom-info">
        <span translate translation="downloadMap"></span>
    </div>
</a>