<div class="container">
  <div
    style="
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
    "
  >
    <div style="font-size: 4vw;font-family: 'orbitron' !important;">Online Cup #14</div>
    <div style="font-size: 2.5vw;font-family: 'orbitron' !important;">VQ3 Tech Strafe</div>
    <div
      style="
        display: flex;
        width: 50vw;
        justify-content: space-between;
        align-items: center;
        margin-top: 4vw;
      "
    >
      <div style="font-size: 4vw;font-family: 'orbitron' !important;">{{ displayedMinutes }}:{{ displayedSeconds }}</div>
      <div style="font-size: 2vw; letter-spacing:2px;font-family: 'orbitron' !important;">
        <div
          *ngFor="let map of maps; let i = index"
          [ngClass]="{
            played: currentMap > i + 1,
            selected: currentMap === i + 1
          }"
          (click)="setMap(i + 1)"
          style="cursor:pointer;font-family: 'orbitron' !important;"
        >
          {{ i + 1 }}. {{ currentMap < i + 1 ? placeholder : map }}
        </div>
      </div>
    </div>
  </div>
</div>