
@switch (timerState) {
  @case (timerStates.AWAITING_START) {
    <app-cup-timer-online-awaiting
      [cupName]="cupName"
      [startTime]="startTime"
      (finished)="changeTimerState(timerStates.IN_PROGRESS)"
      >
    </app-cup-timer-online-awaiting>
  }
  @case (timerStates.IN_PROGRESS) {
    <app-cup-timer-online-progress
      [cupName]="cupName"
      [newsId]="newsId!"
      [endTime]="endTime"
      [server]="server!"
      (finished)="changeTimerState(timerStates.FINISHED)"
      >
    </app-cup-timer-online-progress>
  }
  @case (timerStates.FINISHED) {
    <app-cup-timer-online-finished [cupName]="cupName" [newsId]="+newsId!" [endTime]="endTime" [server]="server!">
    </app-cup-timer-online-finished>
  }
}
