<div class="header shadowed">
    <div class="header-first-row">
        <div class="logo">
            <img class="ushastik" src="/assets/images/ushastik.png" />
            <div class="site-name">Dfcomps</div>
            <div class="slogan">
                Quake 3 Defrag<br />
                Competitions
            </div>
        </div>

        <div class="langs">
            <a href="/language/en"><img class="en" src="/assets/images/icons/lang/en.png" /></a>
            <a href="/language/ru"><img class="ru" src="/assets/images/icons/lang/ru.png" /></a>
        </div>

        <app-user-panel></app-user-panel>
    </div>

    <mat-divider></mat-divider>

    <div class="header-second-row">
        <nav mat-tab-nav-bar class="navigation">
            <a *ngFor="let tab of tabs"
               mat-tab-link
               [active]="activePage === tab.page"
               [class.active]="activePage === tab.page"
               (click)="navigate(tab.page)"
               class="navigation-link">{{ tab.name }}</a>
            <!-- <a mat-tab-link
               href="/forum"
               target="_blank"
               class="navigation-link">Форум</a> -->
        </nav>

        <div class="social-link social-link_discord">
            <a href="https://discord.gg/YTKVxMh" target="_blank">
                <img src="/assets/images/icons/social/discord.png" />
                <div class="link-caption blue-link">Discord</div>
            </a>
        </div>

        <div class="social-link social-link_twitch">
            <a href="https://www.twitch.tv/w00deh" target="_blank">
                <img src="/assets/images/icons/social/twitch.png" />
                <div class="link-caption blue-link">Twitch</div>
            </a>
        </div>

        <div class="social-link social-link_youtube">
            <a href="https://www.youtube.com/channel/UCLyl7evRHAOWSfnRSMKLBVQ" target="_blank">
                <img src="/assets/images/icons/social/youtube.png" />
                <div class="link-caption blue-link">YouTube</div>
            </a>
        </div>

        <button mat-raised-button color="accent" class="download-df-button">
            Скачать Defrag
        </button>
    </div>
</div>