<div *ngIf="playerId"
    mat-ripple
    [@hoveredCell]="getHoveredState()"
    (mouseenter)="darkenPlayerRow()" 
    (mouseleave)="lightenPlayerRow()" 
    (click)="navigateToPlayerProfile(playerId)"
    class="player-nick-container">

    <app-flag [country]="country" [class.light]="style === playerCellStyles.TRANSPARENT" class="flag"></app-flag>
    <div [class.light]="style === playerCellStyles.TRANSPARENT" class="player-nick">{{ nick }}</div>
</div>

<div *ngIf="!playerId" class="player-nick-container no-hover">
    <app-flag [country]="country" [class.light]="style === playerCellStyles.TRANSPARENT" class="flag"></app-flag>
    <div [class.light]="style === playerCellStyles.TRANSPARENT" class="player-nick">{{ nick }}</div>
</div>