@if (componentState === componentStates.WAITING_FOR_VOTE || componentState === componentStates.VOTE_CLOSED) {
  <div
    [ngClass]="{ 'hover-disabled': componentState !== componentStates.WAITING_FOR_VOTE }"
    (mouseleave)="resetToSelectedRating()"
    class="rating-stars-container"
    >
    @for (ratingValue of ratingValues; track ratingValue; let i = $index) {
      <app-rating-star
        [fillValue]="ratingValue"
        (mouseenter)="onStarHover(i)"
        (click)="onStarClick(i)"
        class="rating-star"
      ></app-rating-star>
    }
  </div>
}
@if (componentState === componentStates.VOTE_CLOSED) {
  <div class="rating-info-container">
    <div class="rating-value">{{ selectedRating | invokeFunction : formatRating }}/5</div>
    <mat-icon [matTooltip]="tooltipContent" matTooltipPosition="right" class="info-icon">
      info
    </mat-icon>
  </div>
}
@if (componentState === componentStates.WAITING_FOR_VOTE) {
  <div class="vote-button-container">
    <button [disabled]="isRequestInProcess" (click)="onVoteSubmit()" mat-stroked-button class="rate-map-button">
      @if (!isRequestInProcess) {
        <span translate translation="send"></span>
      }
    </button>
    @if (isRequestInProcess) {
      <div class="spinner">
        <mat-spinner diameter="20" strokeWidth="2" color="accent"></mat-spinner>
      </div>
    }
  </div>
}

@if (componentState === componentStates.VOTE_CLOSED_WITH_NO_VOTES) {
  <div>
    <span translate translation="noReviews"></span>
  </div>
}

@if (componentState === componentStates.NOT_LOGGED) {
  <div>
    <span translate translation="loginToAddReview"></span>
  </div>
}
