<div
  *ngIf="componentState !== componentStates.VOTE_CLOSED_WITH_NO_VOTES"
  [ngClass]="{ 'hover-disabled': componentState !== componentStates.WAITING_FOR_VOTE }"
  (mouseleave)="resetToSelectedRating()"
  class="rating-stars-container"
>
  <app-rating-star
    *ngFor="let ratingValue of ratingValues; let i = index"
    [fillValue]="ratingValue"
    (mouseenter)="onStarHover(i)"
    (click)="onStarClick(i)"
    class="rating-star"
  ></app-rating-star>
</div>
<div *ngIf="componentState === componentStates.VOTE_CLOSED" class="rating-info-container">
  <div class="rating-value">{{ selectedRating }}/5</div>
  <mat-icon [matTooltip]="tooltipContent" matTooltipPosition="right" class="info-icon" style="white-space: pre-line">
    info
  </mat-icon>
</div>
<div *ngIf="componentState === componentStates.WAITING_FOR_VOTE" class="vote-button-container">
  <button [disabled]="isRequestInProcess" (click)="onVoteSubmit()" mat-stroked-button class="rate-map-button">
    <span *ngIf="!isRequestInProcess" translate translation="send"></span>
  </button>
  <div *ngIf="isRequestInProcess" class="spinner">
    <mat-spinner diameter="20" strokeWidth="2" color="accent"></mat-spinner>
  </div>
</div>

<div *ngIf="componentState === componentStates.VOTE_CLOSED_WITH_NO_VOTES">
  <span translate translation="noReviews"></span>
</div>
