<div *ngIf="news$ | async as news; else loader" class="news-container">
  <app-news-element
    *ngFor="let singleNews of postedNews$ | async"
    [newsElement]="singleNews"
    [isHeaderSelectable]="true"
    [areCommentsExpanded]="false"
    (reloadNews)="reloadNews()"
    class="news-element"
  ></app-news-element>
</div>

<ng-template #loader>
  <div class="shadowed-main-block">
    <div class="loader">
      <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
    </div>
  </div>
</ng-template>
