<div class="shadowed-main-block news-block">
  <h1 *ngIf="language$ | async as language" class="h1-block-header no-margin" data-test-id="news-header-text">
    <a *ngIf="isHeaderSelectable" routerLink="/news/{{ newsElement.id }}" class="news-header-link hoverable">
      {{ language === languages.EN ? newsElement.headerEn : newsElement.header }}
    </a>
    <span *ngIf="!isHeaderSelectable" routerLink="/news/{{ newsElement.id }}" class="news-header-link">
      {{ language === languages.EN ? newsElement.headerEn : newsElement.header }}
    </span>
  </h1>

  <div class="author-and-date">
    <span translate translation="author"></span>
    <span>:&nbsp;</span>
    <a routerLink="/profile/{{ newsElement.authorId }}" class="black-link">{{ newsElement.authorName }}</a>
    <span>,</span>
    <span>{{ newsElement.datetimezone | invokeFunction: formatDate }}</span>
  </div>

  <app-news-social-links [news]="newsElement"></app-news-social-links>

  <img *ngIf="newsElement.image" [src]="newsElement.image" class="news-image" data-test-id="image-news" />

  <ng-container [ngSwitch]="newsElement.type">
    <app-news-simple *ngSwitchCase="newsTypes.SIMPLE" [news]="$any(newsElement)"></app-news-simple>
    <app-news-multicup-results
      *ngSwitchCase="newsTypes.MULTICUP_RESULTS"
      [news]="$any(newsElement)"
    ></app-news-multicup-results>
    <app-news-online-announce
      *ngSwitchCase="newsTypes.ONLINE_ANNOUNCE"
      [news]="$any(newsElement)"
    ></app-news-online-announce>
    <app-news-online-results
      *ngSwitchCase="newsTypes.ONLINE_RESULTS"
      [news]="$any(newsElement)"
    ></app-news-online-results>
    <app-news-offline-start
      *ngSwitchCase="newsTypes.OFFLINE_START"
      [news]="$any(newsElement)"
      (reloadNews)="reloadNews.emit()"
    ></app-news-offline-start>
    <app-news-offline-results
      *ngSwitchCase="newsTypes.OFFLINE_RESULTS"
      [news]="$any(newsElement)"
    ></app-news-offline-results>
    <app-news-dfwc-results
      *ngSwitchCase="newsTypes.DFWC_ROUND_RESULTS"
      [news]="$any(newsElement)"
    ></app-news-dfwc-results>
    <app-news-streamers-results
      *ngSwitchCase="newsTypes.STREAMERS_RESULTS"
      [news]="$any(newsElement)"
    ></app-news-streamers-results>
  </ng-container>

  <app-news-streams [streams]="newsElement.streams"></app-news-streams>
</div>
<app-news-comments
  [comments]="newsElement.comments"
  [newsId]="newsElement.id"
  [expanded]="areCommentsExpanded"
></app-news-comments>
