<div class="shadowed-main-block news-block">
  @if (language$ | async; as language) {
    <h1 class="h1-block-header no-margin" data-test-id="news-header-text">
      @if (isHeaderSelectable) {
        <a routerLink="/news/{{ newsElement.id }}" class="news-header-link hoverable">
          {{ language === languages.EN ? newsElement.headerEn : newsElement.header }}
        </a>
      }
      @if (!isHeaderSelectable) {
        <span routerLink="/news/{{ newsElement.id }}" class="news-header-link">
          {{ language === languages.EN ? newsElement.headerEn : newsElement.header }}
        </span>
      }
    </h1>
  }

  <div class="author-and-date">
    <span translate translation="author"></span>
    <span>:&nbsp;</span>
    <a routerLink="/profile/{{ newsElement.authorId }}" class="black-link">{{ newsElement.authorName }}</a>
    <span>,&nbsp;</span>
    <span>{{ newsElement.datetimezone | invokeFunction: formatDate }}</span>
  </div>

  <app-news-social-links [news]="newsElement"></app-news-social-links>

  @if (newsElement.image) {
    <img
      [src]="newsElement.image | invokeFunction: getImageSrc"
      class="news-image"
      data-test-id="image-news"
      />
  }

  @if (newsElement.streams.length && showStreamsOnTop) {
    <app-news-streams [streams]="newsElement.streams"></app-news-streams>
  }

  @switch (newsElement.type) {
    @case (newsTypes.SIMPLE) {
      <app-news-simple [news]="$any(newsElement)"></app-news-simple>
    }
    @case (newsTypes.MULTICUP_RESULTS) {
      <app-news-multicup-results
        [news]="$any(newsElement)"
      ></app-news-multicup-results>
    }
    @case (newsTypes.ONLINE_ANNOUNCE) {
      <app-news-online-announce
        [news]="$any(newsElement)"
      ></app-news-online-announce>
    }
    @case (newsTypes.ONLINE_RESULTS) {
      <app-news-online-results
        [news]="$any(newsElement)"
      ></app-news-online-results>
    }
    @case (newsTypes.OFFLINE_START) {
      <app-news-offline-start
        [news]="$any(newsElement)"
        (reloadNews)="reloadNews.emit()"
      ></app-news-offline-start>
    }
    @case (newsTypes.OFFLINE_RESULTS) {
      <app-news-offline-results
        [news]="$any(newsElement)"
      ></app-news-offline-results>
    }
    @case (newsTypes.DFWC_ROUND_RESULTS) {
      <app-news-dfwc-results
        [news]="$any(newsElement)"
      ></app-news-dfwc-results>
    }
    @case (newsTypes.STREAMERS_RESULTS) {
      <app-news-streamers-results
        [news]="$any(newsElement)"
      ></app-news-streamers-results>
    }
  }

  @if (newsElement.streams.length && !showStreamsOnTop) {
    <app-news-streams [streams]="newsElement.streams"></app-news-streams>
  }
</div>
<app-news-comments
  [comments]="newsElement.comments"
  [newsId]="newsElement.id"
  [expanded]="areCommentsExpanded"
></app-news-comments>
