&:host {
    width: 450px;
    display: block;
    font-size: 15px;
    line-height: 1.4;
}

.dialog-header {
    text-align: center;
    margin-bottom: 20px;
}

.margin-left {
    margin-left: 2px;
}

.separator {
    color: #888;
    margin: 0px 4px;
}

.paragraph {
    margin-top: 10px;
}