<div class="main-screen-title match-in-progress">
    <div>Match in progress: {{ pickbanPhase | invokeFunction: getPickbanPhaseCaption }} - {{ match.physics }}</div>
    <app-match-progress-timer
        [initialSeconds]="match.timer"
        [pickbanPhase]="pickbanPhase">
    </app-match-progress-timer>
</div>
<div class="pickbans-section">
    <div class="player">
        <div class="player-flag-nick">
            <app-big-flag [country]="opponentCountry"></app-big-flag>
            <div class="player-nick">{{ opponentNick }}</div>
        </div>
        <div class="player-rating">{{ match.physics }} Rating: {{ opponentRating }}</div>
    </div>
    <div class="map-row">
        <app-pickban-map
            *ngFor="let map of mapList"
            [pickbanPhase]="pickbanPhase"
            [map]="map"
            (banned)="onMapBanned(map.name)"
            class="map">
        </app-pickban-map>
    </div>
    <div class="player">
        <div class="player-flag-nick">
            <app-big-flag [country]="playerCountry"></app-big-flag>
            <div class="player-nick">{{ playerNick }}</div>
        </div>
        <div class="player-rating">{{ match.physics }} Rating: {{ playerRating }}</div>
    </div>
</div>

<div *ngIf="pickedMapName" class="upload-demo-container">
    <div class="upload-demo-caption">Upload a demo on map {{ pickedMapName }}</div>
    <input (change)="uploadDemo()" #fileInput name="demo" accept=".dm_68" type="file" class="file-input">
    <button (click)="openFileDialog()" mat-raised-button color="accent">Загрузить</button>
    <div *ngIf="bestDemoTime" class="best-demo-time">
        Your best time: 
        <span class="time">{{ bestDemoTime }}</span>
    </div>
</div>