.main-screen-title {
    margin-top: 12px;
    margin-left: -53px;
    margin-right: -46px;
    color: #ffe557;
    margin-bottom: 34px;
    display: flex;
    justify-content: space-between;

    div {
        font-family: bebas;
    }
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-flag-nick {
    display: flex;
    align-items: center;
}

.player-flag {
    width: 84px;
    height: 56px;

    &.ru {
        background: url('../../../../../assets/images/flags/big/ru.png') no-repeat;
    }
}

.player-nick {
    font-family: bebas;
    margin-left: 12px;
}

.player-rating {
    font-family: bebas;
}

.map-row {
    display: flex;
    margin: 28px 0px 24px;
}

.map {
    margin-right: 15px;
}

.upload-demo-container {
    display: flex;
    margin-top: 24px;
}

.upload-demo-caption {
    font-family: bebas;
    font-size: 22px;
    margin-right: 12px;
}