<div class="main-screen-title match-in-progress">
    <div>Match in progress: {{ pickbanPhase | invokeFunction: getPickbanPhaseCaption }}</div>
    <app-match-progress-timer
        [initialSeconds]="match.timer"
        [pickbanPhase]="pickbanPhase">
    </app-match-progress-timer>
</div>
<div class="player">
    <div class="player-flag-nick">
        <div class="player-flag ru"></div>
        <div class="player-nick">w00dy</div>
    </div>
    <div class="player-rating">CPM Rating: 2337</div>
</div>
<div class="map-row">
    <app-pickban-map
        *ngFor="let map of mapList"
        [pickbanPhase]="pickbanPhase"
        [map]="map"
        (banned)="onMapBanned(map.name)"
        class="map">
    </app-pickban-map>
</div>
<div class="player">
    <div class="player-flag-nick">
        <div class="player-flag ru"></div>
        <div class="player-nick">Nosf</div>
    </div>
    <div class="player-rating">CPM Rating: 2337</div>
</div>

<div *ngIf="pickedMapName" class="upload-demo-container">
    <div class="upload-demo-caption">Upload a demo on map {{ pickedMapName }}</div>
    <input type="file">
</div>