<div class="admin-page">
  <div *ngIf="navigationPage$ | async as navigationPage" class="navigation">
    <div class="logo-container">
      <img src="../../../../assets/images/admin/logo.png" />
    </div>
    <admin-menu-item
      [isActive]="navigationPage === 'news'"
      routerLink="/admin/news"
      caption="News"
      icon="article"
    ></admin-menu-item>
    <admin-menu-item
      [isActive]="navigationPage === 'cups'"
      routerLink="/admin/cups"
      caption="Cups"
      icon="grade"
    ></admin-menu-item>
  </div>
  <div class="content">
    <div class="content-header">
      <div *ngIf="currentPage$ | async as currentPage" class="title">{{ currentPage | titlecase }}</div>
      <div class="user-info">
        <div>Nosf</div>
        <div class="avatar">
          <div class="border-container">
            <img src="https://dfcomps.ru/api/images/avatars/10_1604486577.jpg" />
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
