<div class="h1-block-header dialog-header">Регистрация на сайте</div>

<div class="input-container">
    <div class="input-caption">Логин</div> 
    <input class="input-field" />
</div>
<div class="input-container">
    <div class="input-caption">Пароль</div> 
    <input class="input-field password" type="password" />
</div>
<div class="input-container">
    <div class="input-caption">Подтверждение</div> 
    <input class="input-field password" type="password" />
</div>

<div class="dialog-button">
    <button (click)="onRegisterClick()" mat-raised-button color="primary">Зарегистрироваться</button>
</div>
