<div translate translation="signUpOnSite" class="h1-block-header dialog-header"></div>

<form [formGroup]="registerForm">
    <div class="input-container">
        <div class="input-caption"><span translate translation="userLogin"></span> <span class="required"></span></div> 
        <div>
            <input formControlName="login" class="input-field" />
            <div *ngIf="needToDisplayErrors && registerForm?.controls.login.errors?.required" class="field-error">
                <span translate translation="fieldIsRequired"></span>
            </div>
            <div *ngIf="needToDisplayErrors && registerForm?.controls.login.errors?.login as error" class="field-error">{{ error }}</div>
        </div>
    </div>
    <div class="input-container">
        <div class="input-caption">E-mail <span class="required"></span></div> 
        <div>
            <input formControlName="email" class="input-field" />
            <div *ngIf="needToDisplayErrors && registerForm?.controls.email.errors?.required" class="field-error">
                <span translate translation="fieldIsRequired"></span>
            </div>
            <div *ngIf="needToDisplayErrors && registerForm?.controls.email.errors?.email as error" class="field-error">{{ error }}</div>
        </div>
    </div>
    <div class="input-container">
        <div class="input-caption"><span translate translation="password"></span> <span class="required"></span></div> 
        <div>
            <input formControlName="password" class="input-field password" type="password" />
            <div *ngIf="needToDisplayErrors && registerForm?.controls.password.errors?.required" class="field-error">
                <span translate translation="fieldIsRequired"></span>
            </div>
        </div>
    </div>
    <div class="input-container">
        <div class="input-caption"><span translate translation="confirmation"></span> <span class="required"></span></div> 
        <div>
            <input formControlName="validation" class="input-field password" type="password" />
            <div *ngIf="needToDisplayErrors && registerForm?.controls.validation.errors?.required" class="field-error">
                <span translate translation="fieldIsRequired"></span>
            </div>
            <div *ngIf="needToDisplayErrors && registerForm?.errors?.validation as error" class="field-error">{{ error }}</div>
        </div>
    </div>
</form>

<div class="dialog-button">
    <mat-spinner *ngIf="isLoading" diameter="20" strokeWidth="2" color="accent" class="spinner"></mat-spinner>
    <button [disabled]="!registerForm.valid || isLoading" (click)="onRegisterClick()" mat-raised-button color="primary">
        <span translate translation="signUp"></span>
    </button>
</div>
