<div *ngIf="!isExpanded; else expanded">
    <a (click)="toggleExpand()" class="expand-link">Комментарии ({{ comments.length }})</a>
</div>
<ng-template #expanded>
    <div (click)="toggleExpand()" class="hide-comments">Скрыть комментарии</div>

    <ng-container *ngIf="(comments$ | async) as comments">
        <ng-container *ngFor="let comment of comments; let i = index;">
            <div class="comment">
                <div class="comment-header">
                    <div class="comment-header-left">
                        <span>#{{ i + 1 }}</span>
                        <span class="separator"></span>
                        <span><a class="black-link" routerLink="/profile/{{ comment.playerId }}">{{ comment.username }}</a></span>
                    </div>
                    <div class="comment-header-right">
                        {{ comment.datetime }}
                    </div>
                </div>
                <div [innerHTML]="comment.smilesComment" class="comment-inner"></div>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async; else notLogged">
        <div class="write-commentary">Написать комментарий:</div>
        <div #textarea contenteditable="true" class="comment-textarea"></div>

        <div class="send-comment-button">
            <mat-spinner *ngIf="isLoading" diameter="20" strokeWidth="2" color="accent" class="spinner"></mat-spinner>
            <button [disabled]="isLoading" (click)="sendComment()" mat-raised-button color="primary" class="add-comment-button">
                Отправить
            </button>
        </div>
    </ng-container>

    <ng-template #notLogged>
        <div class="not-logged">Войдите или зарегистрируйтесь, чтобы оставить комментарий</div>
    </ng-template>
</ng-template>