<div [ngClass]="{ 'with-logo': !!logo }" class="cup-timer-container">
  <div class="opacity-bg"></div>

  <div class="cup-info">
    @if (logo) {
      <div>
        <img class="logo" [src]="logo">
      </div>
    }
    @switch (cupType) {
      @case (cupTypes.ONLINE) {
        <app-cup-timer-online
          [cupName]="cupName"
          [startTime]="startTime"
          [endTime]="endTime"
          [newsId]="newsId"
          [server]="server!"
          >
        </app-cup-timer-online>
      }
      @case (cupTypes.OFFLINE) {
        <app-cup-timer-offline
          [cupName]="cupName"
          [startTime]="startTime"
          [endTime]="endTime"
          [mapLink]="mapLink"
          [customNews]="customNews"
          [newsId]="newsId"
          >
        </app-cup-timer-offline>
      }
    }
  </div>
</div>
