@if (map.map) {
<div
  [ngStyle]="map.map.name | invokeFunction: getMapStyle"
  [class.banned]="isBanned"
  [class.pointer-enabled]="!isBanned && pickbanPhase === pickBanPhases.YOU_ARE_BANNING"
  (click)="banMap()"
  class="map"
>
  @if (map.isBannedByOpponent) {
  <div class="banned-border banned-by-opponent"></div>
  } @if (map.isBannedByPlayer) {
  <div class="banned-border banned-by-player"></div>
  } @if (map.isPickedByOpponent) {
  <div class="picked-border picked-by-opponent"></div>
  } @if (map.isPickedByPlayer) {
  <div class="picked-border picked-by-player"></div>
  }

  <div class="gradient-shadow"></div>

  <div class="weapons-container">
    @if (map.map.weapons) {
    <app-weapons [weapons]="map.map.weapons" class="flex-wrap"></app-weapons>
    }
  </div>
  @if (map.map.difficulty) {
  <div class="difficulty-container">
    <span translate translation="difficulty"></span>
    : {{ map.map.difficulty }}/5
  </div>
  }

  <div class="cross"></div>
</div>

<div class="map-second-layer"></div>

<div class="map-name">
  {{ map.map.name }}
</div>
}
