<mat-card class="validation-table-card">
  <ng-container *ngIf="cupValidationInfo$ | async as cupValidationInfo; else isLoading">
    <div class="card-header">VQ3 Demos for {{ cupValidationInfo.cupInfo.fullName }}</div>
    <ng-container *ngTemplateOutlet="demosList; context: { $implicit: cupValidationInfo.vq3Demos }"></ng-container>
    <div class="card-header">CPM Demos for {{ cupValidationInfo.cupInfo.fullName }}</div>
    <ng-container *ngTemplateOutlet="demosList; context: { $implicit: cupValidationInfo.cpmDemos }"></ng-container>
    <div>
      <button (click)="setAllDemosValid()" color="accent" mat-raised-button class="action-button">
        Set all demos valid
      </button>
      <button (click)="submit()" color="accent" mat-raised-button class="action-button">
        Submit validation result
      </button>
    </div>
  </ng-container>
  <ng-template #demosList let-players>
    <form [formGroup]="validationForm">
      <div class="validation-table">
        <div class="cell first table-head">Number</div>
        <div class="cell table-head">Player</div>
        <div class="cell table-head">Demos</div>
        <div class="cell table-head">Validation result</div>
        <ng-container *ngFor="let player of players; let i = index">
          <div class="cell first">{{ i + 1 }}</div>
          <div class="cell nick">
            <app-player-cell
              [country]="player.country"
              [nick]="player.nick"
              [playerId]="player.playerId"
            ></app-player-cell>
          </div>
          <div class="cell demos">
            <div *ngFor="let demo of player.demos" class="demo-cell">
              <a [href]="demo.demoLink" download>{{ demo.time }}</a>
            </div>
          </div>
          <div class="cell demos">
            <div *ngFor="let demo of player.demos" class="demo-cell">
              <mat-radio-group [formControlName]="'demo_' + demo.id" aria-label="Select an option">
                <mat-radio-button [value]="true" color="primary">Valid</mat-radio-button>
                <mat-radio-button [value]="false" color="primary" class="invalid-radio">Invalid</mat-radio-button>
              </mat-radio-group>
              <span>Reason:</span>
              <input [formControlName]="'reason_' + demo.id" class="reason-input" />
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </ng-template>
  <ng-template #isLoading>
    <div class="spinner">
      <mat-spinner diameter="75" strokeWidth="4" color="accent"></mat-spinner>
    </div>
  </ng-template>
</mat-card>
