<ng-container *ngIf="(language$ | async) === languages.RU">
  <div class="shadowed-main-block">
    <h1 class="h1-block-header">Правила Dfcomps Speedrun Invitational</h1>
    <div class="rules-section">
      <p>
        <b>1.</b>
        Действуют общие правила проведения турниров (разделы 1-4
        <a href="/rules">правил dfcomps</a>)
      </p>
      <p>
        <b>2.</b>
        Турнир проходит в формате Single Elimination на 8 игроков. Победивший в трех матчах игрок становится победителем
        турнира, при этом любой игрок, проигравший матч, выбывает из турнира.
      </p>
      <p>
        <b>3.</b>
        Определение победителя
      </p>
      <p>
        <b>3.1</b>
        Победителем матча становится игрок, быстрее всего прошедший 12 выбранных карт. Итоговое время считается по сумме
        времени прохождения каждой отдельной карты.
      </p>
      <p>
        <b>3.2</b>
        Время прохождения карты считается от первого момента срабатывания стартового триггера до срабатывания финишного
        триггера. При этом, ко времени добавляется любое избыточное время от загрузки игрока на карте до срабатывания
        первого стартового триггера - время, большее чем 3 секунды. Например, если игрок потратил 10 секунд на преджамп,
        к его итоговому времени на карте добавятся 10 - 3 = 7 секунд. Если игрок потратит на преджамп меньше трех
        секунд, то избыточного времени не будет.
      </p>
      <p>
        <b>4.</b>
        Процесс выбора карт
      </p>
      <p>
        <b>4.1</b>
        Полный список состоит из 16 карт:
        <br />
        &ndash; nood-stoned
        <br />
        &ndash; zeel-voltex_300slick
        <br />
        &ndash; bug-woody
        <br />
        &ndash; zeel-neonpunk
        <br />
        &ndash; kool_woodtory
        <br />
        &ndash; poon-udc
        <br />
        &ndash; score
        <br />
        &ndash; dinirocketruns
        <br />
        &ndash; discord
        <br />
        &ndash; cruton4
        <br />
        &ndash; nood-momentum2
        <br />
        &ndash; sharq3
        <br />
        &ndash; dfwc2008-9
        <br />
        &ndash; biotrix-glow
        <br />
        &ndash; nood-adr
        <br />
        &ndash; dfwc01-5
        <br />
      </p>
      <p>
        <b>4.2</b>
        Игроки по очереди банят карты, пока не останется 12 карт, у каждого игрока по 2 бана.
      </p>
      <p>
        <b>4.3</b>
        Те карты, которые оба игрока матча банили в предыдущих раундах (если предыдущий раунд был), будут недоступны для
        бана и будут играться в любом случае.
      </p>
      <p>
        <b>4.4</b>
        Список карт во время бана соответствует тому порядку, в котором карты нужно будет пройти. Список карт для
        каждого матча определяется случайной перетасовкой.
      </p>
      <p>
        <b>5.</b>
        Проведение матча
      </p>
      <p>
        <b>5.1</b>
        Игроки подключаются к разным выделенным серверам, ссылку на сервер получают через сайт dfcomps.
      </p>
      <p>
        <b>5.2</b>
        Игрокам нужно поставить параметр name такой же, под которым они зарегистрированы на турнире и написать
        <span class="italic-console-command">!ready</span>
        в консоль.
      </p>
      <p>
        <b>5.3</b>
        Смена карт и подведение результатов будет происходить автоматически, игрокам не нужно делать callvote.
      </p>
      <p>
        <b>5.4</b>
        Игрок может сдаться до конца матча, написав в консоли
        <span class="italic-console-command">!giveup</span>
        .
      </p>
      <p>
        <b>6.</b>
        В случае возникновения спорных ситуаций, окончательное решение принимают организаторы.
      </p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="(language$ | async) === languages.EN">
  <div class="shadowed-main-block">
    <h1 class="h1-block-header">Dfcomps Speedrun Invitational rules</h1>
    <div class="rules-section">
      <p>
        <b>1.</b>
        Common tournament ruleset applies (sections 1–4 of the
        <a href="/rules">dfcomps rules</a>)
      </p>
      <p>
        <b>2.</b>
        The tournament is held in Single Elimination format for 8 players. The player who wins three matches becomes the winner of the
        tournament, any player who loses the match is eliminated from the tournament.
      </p>
      <p>
        <b>3.</b>
        Determining winner
      </p>
      <p>
        <b>3.1</b>
        The winner of the match is the player with the fastest time through the 12 selected maps. 
        The final time is the sum of times of each individual map.
      </p>
      <p>
        <b>3.2</b>
        The map time is counted from the first moment of the start trigger to the finish trigger. 
        Any excess time from loading the player on the map to the first start trigger, which is greater than 3 seconds,
        is added to the time. For example, if a player spends 10 seconds prejumping, 10 - 3 = 7 seconds will be added 
        to his time on the map. If the player spends less than three seconds on the prejump, there will be no additional time.
      </p>
      <p>
        <b>4.</b>
        Map selection process
      </p>
      <p>
        <b>4.1</b>
        The full list consists of 16 maps:
        <br />
        &ndash; nood-stoned
        <br />
        &ndash; zeel-voltex_300slick
        <br />
        &ndash; bug-woody
        <br />
        &ndash; zeel-neonpunk
        <br />
        &ndash; kool_woodtory
        <br />
        &ndash; poon-udc
        <br />
        &ndash; score
        <br />
        &ndash; dinirocketruns
        <br />
        &ndash; discord
        <br />
        &ndash; cruton4
        <br />
        &ndash; nood-momentum2
        <br />
        &ndash; sharq3
        <br />
        &ndash; dfwc2008-9
        <br />
        &ndash; biotrix-glow
        <br />
        &ndash; nood-adr
        <br />
        &ndash; dfwc01-5
        <br />
      </p>
      <p>
        <b>4.2</b>
        Players take turns banning maps until there are 12 maps left, each player has 2 bans.
      </p>
      <p>
        <b>4.3</b>
        Those maps that both players in the match have banned in previous rounds (if there was a previous round)
        will be unavailable for banning and will be played anyway.
      </p>
      <p>
        <b>4.4</b>
        The list of maps during the ban phase corresponds to the order in which the maps will be played.
        The list of maps for each match is determined by random shuffling.
      </p>
      <p>
        <b>5.</b>
        Match process
      </p>
      <p>
        <b>5.1</b>
        Players connect to different dedicated servers, the server link is obtained through the dfcomps website.
      </p>
      <p>
        <b>5.2</b>
        Players need to set the name parameter equal to name under which they are registered for the tournament and write
        <span class="italic-console-command">!ready</span>
        in the console.
      </p>
      <p>
        <b>5.3</b>
        Changing maps and summarizing results will be automatic, players do not need to make a callvote.
      </p>
      <p>
        <b>5.4</b>
        A player can give up before the end of the match by writing
        <span class="italic-console-command">!giveup</span>
        in the console.
      </p>
      <p>
        <b>6.</b>
        In case of disputes, the final decision is made by the organizers.
      </p>
    </div>
  </div>
</ng-container>
