@if (!hasError) {
  @if (singleNews$ | async; as singleNews) {
    <div class="news-container">
      <app-news-element
        [newsElement]="singleNews"
        [isHeaderSelectable]="false"
        [areCommentsExpanded]="true"
        (reloadNews)="reloadNews()"
      ></app-news-element>
    </div>
  } @else {
    <div class="shadowed-main-block">
      <div class="loader">
        <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
      </div>
    </div>
  }
} @else {
  <div class="shadowed-main-block error">
    <span translate translation="errorNewsDoesntExist"></span>
  </div>
}


