<mat-card class="main-form-card">
  @if (!isInitialLoading) {
    <h3 class="header">{{ componentMode }} multicup</h3>
  }
  @if (!isInitialLoading) {
    <form [formGroup]="multicupForm">
      <div class="form">
        <div class="input-label">Name</div>
        <div>
          <input formControlName="name" class="input-field" data-test-id="multicup-name-input" />
          @if (hasFieldError(this.multicupForm.get('name')!)) {
            <div class="field-error">Field is required</div>
          }
        </div>
        <div class="input-label">Rounds</div>
        <div>
          <input type="number" formControlName="rounds" class="input-field" data-test-id="multicup-rounds-input" />
          @if (hasFieldError(this.multicupForm.get('rounds')!)) {
            <div class="field-error">Field is required</div>
          }
        </div>
      </div>
      <button
        [disabled]="isLoadingMulticupAction"
        (click)="submit()"
        mat-raised-button
        color="accent"
        class="submit-button"
        data-test-id="multicup-submit-button"
        >
        @if (isLoadingMulticupAction) {
          <div class="button-spinner-container">
            <mat-spinner diameter="20" strokeWidth="2" color="primary"></mat-spinner>
          </div>
        }
        {{ componentMode }} multicup
      </button>
    </form>
  } @else {
    <div class="loading-block">
      <mat-spinner diameter="75" strokeWidth="4" color="accent"></mat-spinner>
    </div>
  }
</mat-card>
