@if (hasGrenade) {
  <img src="/assets/images/icons/svg/iconw_grenade.svg" />
}
@if (hasRocket) {
  <img src="/assets/images/icons/svg/iconw_rocket.svg" />
}
@if (hasPlasma) {
  <img src="/assets/images/icons/svg/iconw_plasma.svg" />
}
@if (hasBFG) {
  <img src="/assets/images/icons/svg/iconw_bfg.svg" />
}
@if (hasGauntlet) {
  <img src="/assets/images/icons/svg/iconw_gauntlet.svg" />
}
@if (hasMachinegun) {
  <img src="/assets/images/icons/svg/iconw_machinegun.svg" />
}
@if (hasShotgun) {
  <img src="/assets/images/icons/svg/iconw_shotgun.svg" />
}
@if (hasLightning) {
  <img src="/assets/images/icons/svg/iconw_lightning.svg" />
}
@if (hasRailgun) {
  <img src="/assets/images/icons/svg/iconw_railgun.svg" />
}
@if (hasHook) {
  <img src="/assets/images/icons/svg/iconw_grapple.svg" />
}
