<div class="news-container">
    <ng-container *ngFor="let singleNews of news">
        <div class="shadowed-main-block news-block" style="height: 240px;box-shadow: 1px 1px 25px 8px rgba(0, 0, 0, 0.3);">
            <h1 class="h1-block-header no-margin">
                <a class="news_header_link">
                    {{ language === languages.EN ? singleNews.headerEn : singleNews.header }}
                </a>
            </h1>
                
            <div class="author-and-date">
                {{ translations?.author }}: <a class="black-link">{{ singleNews.authorName }}</a>
            </div>

            <ng-container [ngSwitch]="singleNews.type">
                <app-news-simple *ngSwitchCase="newsTypes.SIMPLE" [news]="singleNews" style="display:block;margin-top:16px;"></app-news-simple>
            </ng-container>
        </div>
    </ng-container>
</div>
