:host {
  display: block;
  margin-top: 10px;
}

.three-streams-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
}

.stream-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
