@if (streams.length === 1) {
  <ng-container
    *ngTemplateOutlet="streamBlock; context: { width: 800, height: 450, stream: streams[0] }"
  ></ng-container>
}

@if (streams.length === 2) {
  <div class="two-streams-container">
    @for (stream of streams; track stream) {
      <div>
        <ng-container
          *ngTemplateOutlet="streamBlock; context: { width: 392, height: 221, stream: stream }"
        ></ng-container>
      </div>
    }
  </div>
}

@if (streams.length === 3) {
  <div class="three-streams-container">
    @for (stream of streams; track stream) {
      <div>
        <ng-container
          *ngTemplateOutlet="streamBlock; context: { width: 257, height: 145, stream: stream }"
        ></ng-container>
      </div>
    }
  </div>
}

<ng-template let-width="width" let-height="height" let-stream="stream" #streamBlock>
  @if (stream.platform === streamingPlatforms.YOUTUBE) {
    <app-youtube
      [id]="stream.streamId"
      [width]="width"
      [height]="height"
      [title]="stream.streamer + ' (' + stream.language + ')'"
    ></app-youtube>
  }
  @if (stream.platform === streamingPlatforms.TWITCH_VIDEO || stream.platform === streamingPlatforms.TWITCH_CHANNEL) {
    <app-twitch
      [id]="stream.streamId"
      [width]="width"
      [height]="height"
      [videoType]="stream.platform"
      [title]="stream.streamer + ' (' + stream.language + ')'"
    ></app-twitch>
  }
</ng-template>
