<ng-container *ngIf="user; else notLogged">
    <span class="logged-in-as">{{ translations?.loggedInAs }} {{ user.nick }}</span>
    <div class="profile-links">
        <a *ngIf="!!user && user.access === 'admin'" matRipple [href]="apiUrl + '/admin/'" class="profile-link blue-link">
            {{ translations?.adminPanel }}
        </a>
        <!-- TODO [DFRU-30] Страница команды -->
        <!-- <div matRipple class="profile-link blue-link">Команда</div> -->
        <div (click)="onProfileClick()" matRipple class="profile-link blue-link">{{ translations?.profile }}</div>
        <div (click)="onLogoutClick()" matRipple class="profile-link blue-link">{{ translations?.logout }}</div>
    </div>
</ng-container>
<ng-template #notLogged>
    <div class="profile-links">
        <div (click)="onLoginClick()" matRipple class="profile-link blue-link">{{ translations?.logIn }}</div>
        <div (click)="onRegisterClick()" matRipple class="profile-link blue-link">{{ translations?.signUp }}</div>
    </div>
</ng-template>
