<a *ngIf="customNews; else newsIdLink" [href]="customNews" target="_blank" class="news-link">
    <h1 class="cup-name">{{ cupName }}</h1>
</a>
<ng-template #newsIdLink>
    <a href="/news/{{ newsId }}" class="news-link">
        <h1 class="cup-name">{{ cupName }}</h1>
    </a>
</ng-template>
<h2 class="cup-date-time">
    <span translate translation="finishing"></span> {{ formattedTime$ | async }}
</h2>
<div class="timeholder">
    <app-countdown-timer
        [targetTime]="endTime"
        (finished)="finished.emit()">
    </app-countdown-timer>
</div>
<a [href]="mapLink" class="map-link" download>
    <div translate translation="downloadMap" class="bottom-info"></div>
</a>