<ng-container *ngIf="(language$ | async) === languages.RU">
    <div class="shadowed-main-block">
        <h1 class="h1-block-header">Общие правила турниров</h1>
        <div class="rules-section">
            <p>
                <b>1. Программные читы</b>
            </p>
            <p>
                <b>1.1</b> Запрещено вносить какие-либо изменения в исходный код quake3 и defrag.
            </p>
            <p>
                <b>1.2</b> Запрещено изменять память, используемую в defrag во время игры с помощью внешних приложений.
            </p>
            <p>
                <b>1.3</b> Разрешенные клиенты defrag для quake3:<br>
                &ndash; idsoftware quake3<br>
                &ndash; ioquake3<br>
                &ndash; OpenArena<br>
                &ndash; dfengine<br>
                &ndash; iodfe<br>
                &ndash; iDFe<br>
                &ndash; cnq3
            </p>
            <p>
                <b>2. Скриптовые читы</b>
            </p>
            <p>
                <b>2.1</b> Запрещено выполнять (с помощью 
                программных или аппаратных средств) последовательность команд, которая повлияет на поведение 
                игрока при помощи заранее определенного времени и порядка исполнения команд.
            </p>
            <p>
                <b>2.2</b> Запрещено использовать любые средства для синхронизации действий игрока
                (прыжки, выстрелы, изменение направления взгляда). Игрок должен синхронизировать
                свои действия самостоятельно.
            </p>
            <p>
                <b>3. Запрещенные действия</b>
            </p>
            <p>
                <b>3.1</b> Запрещено изменять направление взгляда игрока любыми способами, кроме движения мыши.
            </p>
            <p>
                <b>3.2</b> Запрещено привязывать любые действия, связанные с движением игрока, на колесо мыши.
            </p>
            <p>
                <b>3.3</b> Запрещено набирать скорость в течение нескольких моментов времени без 
                изменения положения игрока в пространстве (запрещены волл-баги).
            </p>
            <p>
                <b>4. Игровой аккаунт</b>
            </p>
            <p>
                <b>4.1</b> Игроку запрещено передавать данные своего аккаунта (логин + пароль) третьим лицам.
            </p>
            <p>
                <b>4.2</b> Игроку запрещено играть, используя чужой никнейм / аккаунт.
            </p>
            <p>
                <b>4.3</b> Игроку запрещено иметь более одного аккаунта.
            </p>
        </div>
    </div>

    <div class="shadowed-main-block" id="online">
        <h1 class="h1-block-header">Правила онлайн турниров</h1>
        <div class="rules-section">
            <p>
                <b>5.1 Порядок проведения онлайн турниров</b>
            </p>
            <p>
                <b>5.1.1</b> Онлайн турниры проходят на выделенных для турнира серверах
                в пять раундов, по 30 минут каждый (если организаторы турнира
                заранее не объявляют об изменениях в количестве и продолжительности раундов).
            </p>
            <p>
                <b>5.1.2</b> Каждый раунд проходит на отдельной карте, которую перед началом раунда объявляет судья. 
            </p>
            <p>
                <b>5.1.3</b> Учитываются результаты игроков, зафиксированные с момента запуска карты,
                до команды судьи об остановке раунда (STOP TIME). 
            </p>
            <p>
                <b>5.1.4</b> Подведение результатов происходит по ЕЕ-системе.
            </p>
            <p>
                <b>5.2</b> Запрещено умышленно имитировать потерю или задержку пакетов в сети.
            </p>
            <p>
                <b>5.3</b> Каждый игрок должен устанавливать свои параметры сетевой игры
                таким образом, чтобы потеря пакетов и пинг были по возможности минимальными.
            </p>
            <p>
                <b>5.4</b> Рекомендованные настройки онлайна:<br>
                &ndash; <span class="italic-console-command">cl_maxpackets "125"</span><br>
                &ndash; <span class="italic-console-command">snaps "125"</span><br>
                &ndash; <span class="italic-console-command">rate "25000"</span><br>
                &ndash; <span class="italic-console-command">cl_packetdup "2"</span> или выше
            </p>
        </div>
    </div>

    <div class="shadowed-main-block" id="offline">
        <h1 class="h1-block-header">Правила оффлайн турниров</h1>
        <div class="rules-section">
            <p>
                <b>6.1</b> Для игры в оффлайне нужно скачать и использовать 
                <a href="/assets/files/offline-rules.cfg">конфиг с настройками для игры в оффлайне</a>.
            </p>
            <p>
                <b>6.2</b> На оффлайн турнирах разрешено присылать демки, записанные в онлайне на серверах 
                <a href="https://q3df.org/serverlist">q3df.org</a>.
            </p>
            <p>
                <b>6.3.</b> Овербаунсы
            </p>
            <p>
                <b>6.3.1</b> Овербаунс - баг физики, возникающий при падении на поверхность с определенной 
                скоростью и дающий вертикальную и/или горизонтальную скорость. Определить овербаунс можно с 
                помощью команд <span class="italic-console-command">df_chs1_info1 56</span> и 
                <span class="italic-console-command">df_chs1_Draw 1</span>, при валидации демок также используется 
                команда <span class="italic-console-command">df_ob_allslopes 1</span>.
            </p>
            <p>
                <b>6.3.2</b> Не рандомными считаются только овербаунсы с одной горизонтальной поверхности на другую 
                горизонтальную поверхность, при этом возможны несколько вариантов:<br>
                &ndash; овербаунс до прыжка виден на овербаунс-детекторе (либо был бы виден, если бы поверхности 
                были в прямой видимости);<br>
                &ndash; овербаунс был сделан после двойного прыжка в CPM от прямой поверхности (не рампы и не
                лестницы со ступеньками, меньше чем 16 юнитов);<br>
                &ndash; овербаунс был сделан после другого нерандомного овербаунса;<br>
                &ndash; овербаунс был сделан после удара об прямой потолок, при этом высота прыжка была набрана
                без использования оружия и прыжков от рамп.
            </p>
            <p>
                <b>6.3.3</b> Два вида овербаунсов всегда считаются рандомными, если в описании турнира 
                напрямую не разрешены такие овербаунсы:<br>
                &ndash; овербаунсы с использованием нетвердых брашей (вода, лава, и т.п.);<br>
                &ndash; sticky-овербаунсы, которые возникают только при определенных условиях, которые должны 
                возникнуть до начала прыжка.
            </p>
            <p>
                <b>6.3.4</b> Рандомные овербаунсы являются причиной отклонения демо при валидации в двух случаях:<br>
                &ndash; овербаунс повлиял на распределение мест в таблице<br>
                &ndash; овербаунс повлиял на все распределение очков по
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScdbpcs6rczpF1C_TQ4IFUxUqARq9MXygeP9Ru2sjZl3cdUDA/viewform">EE-системе</a>.<br>
                <i>Примеры:</i> <br>
                1) В турнире по ЕЕ-системе любой овербаунс, который дал плюс в топ1 демке повлияет на распределение очков во всей таблице, потому
                что очки рассчитываются от времени первого места. Поэтому такая демка будет невалидна.<br>
                2) Игрок использовал рандомный овербаунс, чтобы пропустить трикс на карте, но не получил достаточного преимущества, чтобы встать на строчку выше в таблице.
                В этом случае демо также будет невалидным, потому что без рандомного овербаунса игрок мог не пройти карту вообще, поэтому он бы вообще не попал в таблицу.
            </p>
            <p>
                <b>6.4</b> Запрещен таймресет (обнуление стартового триггера, при котором уже 
                запущенный таймер времени сбрасывается до нуля).
            </p>
            <p>
                <b>6.5</b> Запрещено использование для получения преимущества особенностей карт (двери, кнопки и прочее),
                положение или состояние которых отличается от изначальных при использовании map_restart.
            </p>
            <p>
                <b>6.6</b> Принимаются только демо, записанные во время проведения турнира.
            </p>
            <p>
                <b>6.7</b> В тимран турнирах таймы всех участников команды должны быть записаны в одно время.
            </p>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="(language$ | async) === languages.EN">
    <div class="shadowed-main-block">
        <h1 class="h1-block-header">Common ruleset</h1>
        <div class="rules-section">
            <p>
                <b>1. Binary Cheats</b>
            </p>
            <p>
                <b>1.1</b> It's not allowed to modify the quake3 nor the defrag binary files in any way.
            </p>
            <p>
                <b>1.2</b> It's not allowed to modify the memory used by defrag with external programs during runtime of the game.
            </p>
            <p>
                <b>1.3</b> Allowed client quake3 compatible binaries:<br>
                &ndash; idsoftware quake3<br>
                &ndash; ioquake3<br>
                &ndash; OpenArena<br>
                &ndash; dfengine<br>
                &ndash; iodfe<br>
                &ndash; iDFe<br>
                &ndash; cnq3
            </p>
            <p>
                <b>2. Scripting Cheats</b>
            </p>
            <p>
                <b>2.1</b> It's not allowed to execute a sequence of commands 
                (triggered by software or hardware) that affect physical player
                behavior using predefined timing and order.
            </p>
            <p>
                <b>2.2</b> It is not allowed to use external means to time 
                player actions(jumping, shooting, view direction change).
                The player has to time actions himself.
            </p>
            <p>
                <b>3. Not acceptable behaviour</b>
            </p>
            <p>
                <b>3.1</b> It is not allowed to change your view angles (direction the player is facing)
                with other means than moving the mouse.
            </p>
            <p>
                <b>3.2</b> It is not allowed to bind any actions that alter the 
                movement of a player to your mouse wheel.
            </p>
            <p>
                <b>3.3</b>  It is not allowed to gain speed over several frames 
                without change of position. (No walllingering/Wallbug)
            </p>
            <p>
                <b>4. Account Pollicy</b>
            </p>
            <p>
                <b>4.1</b> It's not allowed to give your account's login data to other people.
            </p>
            <p>
                <b>4.2</b> You are not allowed to play using another players account.
            </p>
            <p>
                <b>4.3</b> It is not allowed to have more than one account per person.
            </p>
        </div>
    </div>

    <div class="shadowed-main-block" id="online">
        <h1 class="h1-block-header">Online cups ruleset</h1>
        <div class="rules-section">
            <p>
                <b>5.1 The order of online tournaments</b>
            </p>
            <p>
                <b>5.1.1</b> Online tournaments take place on dedicated servers in five rounds,
                30 minutes each (if the organizers of the tournament do not announce changes
                in the number and duration of rounds in advance).
            </p>
            <p>
                <b>5.1.2</b> Each round is held on a separate map, which is announced by the judge before the beginning of the round. 
            </p>
            <p>
                <b>5.1.3</b> Player results are registered from the time of map launch until
                referee's message about the round end (STOP TIME message).
            </p>
            <p>
                <b>5.1.4</b> The results are calculated according to the 
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScdbpcs6rczpF1C_TQ4IFUxUqARq9MXygeP9Ru2sjZl3cdUDA/viewform">EE-system</a>.
            </p>
            <p>
                <b>5.2</b> It's not allowed to drop nor delay packets (network) on purpose (net settings).
            </p>
            <p>
                <b>5.3</b> Every player has to adjust the network settings to 
                have the least possible packet loss and (if possible) latency (ping)
            </p>
            <p>
                <b>5.4</b> Recommended client net settings:<br>
                &ndash; <i style="background:#ddd;">cl_maxpackets "125"</i><br>
                &ndash; <i style="background:#ddd;">snaps "125"</i><br>
                &ndash; <i style="background:#ddd;">rate "25000"</i><br>
                &ndash; <i style="background:#ddd;">cl_packetdup "1"</i> or <i style="background:#ddd;">cl_packetdup "2"</i>
            </p>
        </div>
    </div>

    <div class="shadowed-main-block" id="offline">
        <h1 class="h1-block-header">Offline cups ruleset</h1>
        <div class="rules-section">
            <p>
                <b>6.1</b> For playing offline, players need to download and use 
                <a href="/files/offline-rules.cfg">config with required offline settings</a>.
            </p>
            <p>
                <b>6.2</b> For offline cups, it is allowed to send demos, recorded online on <a href="https://q3df.org/serverlist">q3df.org</a> servers.
            </p>
            <p>
                <b>6.3.</b> Overbounces
            </p>
            <p>
                <b>6.3.1</b> Overbounce is a quake3 physics bug, which appears after landing on some surface 
                with certain speed and which gives horizontal and/or vertical speed. Players can identify 
                overbounces using console commands <i style="background:#ddd;">df_chs1_info1 55</i>,
                 <i style="background:#ddd;">df_chs1_draw 1</i> and <i style="background:#ddd;">df_ob_allslopes 1</i>.
            </p>
            <p>
                <b>6.3.2</b> Overbounces are considered non-random only if they are performed from one horizontal surface to another 
                horizontal surface, and one of the following condition should be met:<br>
                &ndash; overbounce should be visible on the overbounce detector before the jump (or it would 
                have been visible if the landing surface was in the direct view);<br>
                &ndash; overbounce was done after double jump in CPM from a horizontal surface (not a ramp
                or ladder with steps less than 16 units);<br>
                &ndash; overbounce was done after another non-random overbounce;<br>
                &ndash; overbounce was done after hitting horizontal ceiling, whereas jump height was 
                gained without using weapons or ramps.
            </p>
            <p>
                <b>6.3.3</b> Two types of overbounces are always considered random, if tournament rules
                don’t explicitly tell otherwise:<br>
                &ndash; overbounces using non-solid brushes (water, lava, etc.);<br>
                &ndash; sticky overbounces, which can be done only in certain conditions, which should
                 happen before the overbounce jump.
            </p>
            <p>
                <b>6.3.4</b> Random overbounces cause a demo to be rejected during validation in two cases:<br>
                &ndash; overbounce affected the distribution of places in the table<br>
                &ndash; overbounce affected the whole distribution of points according to the EE-system<br>
                <i>Examples:</i> <br>
                1) In an EE-system tournament, any overbounce that gave a plus in the top1 demo will affect the distribution of points in the entire table, because points 
                are calculated from the time of the first place. Therefore, such demo will be invalid.<br>
                2) The player used a random overbounce to skip the trix on the map, but did not get enough advantage to move up the table. In this case, the demo will also be invalid, 
                because without a random overbounce, the player may not have passed the map, so he would not have gotten into the table at all.
            </p>
            <p>
                <b>6.4</b> It is not allowed to use time reset (using the start 
                trigger more than once, after which already started timer resets to zero).
            </p>
            <p>
                <b>6.5</b> It is not allowed to use for advantage map features, like doors, buttons, etc.,
                which differ from those when using map_restart.
            </p>
            <p>
                <b>6.6</b> Only demos recorded during the tournament are accepted.
            </p>
            <p>
                <b>6.7</b> In teamrun competitions all team players times must be recorded at one time.
            </p>
        </div>
    </div>
</ng-container>