<div translate translation="signUpOnSite" class="h1-block-header dialog-header"></div>
<div translate translation="signUpLoginCaption"></div>

<form [formGroup]="registerForm">
  <div class="input-container">
    <div class="input-caption"><span translate translation="userLogin"></span></div>
    <div class="input-field-container">
      <input formControlName="login" class="input-field" />
      @if (isLoginRequiredError) {
        <div class="field-error">
          <span translate translation="fieldIsRequired"></span>
        </div>
      }
      @if (loginInvalidError) {
        <div class="field-error">
          {{ loginInvalidError }}
        </div>
      }
    </div>
  </div>
</form>

<div class="dialog-button">
  @if (isLoading) {
    <mat-spinner diameter="20" strokeWidth="2" color="accent" class="spinner"></mat-spinner>
  }
  <button [disabled]="!registerForm.valid || isLoading" (click)="onRegisterClick()" mat-raised-button color="primary">
    <span translate translation="finishSignUp"></span>
  </button>
</div>
