<div class="map-info-container">
  <div class="image-container">
    <img [src]="news.levelshot" class="levelshot" />
  </div>
  <div class="tables-container">
    <div class="map-info-table">
      <div class="map-info-row">
        <div class="row-desc">
          <span translate translation="map"></span>
        </div>
        <div class="row-info">
          <a
            *ngIf="!news.cup.customMap"
            href="https://ws.q3df.org/map/{{ news.cup.map1 }}/"
            target="_blank"
            class="map-link"
            >{{ news.cup.map1 }}</a
          >
          <a
            *ngIf="news.cup.customMap"
            [href]="news.cup.customMap"
            class="map-link"
            >{{ news.cup.map1 }}</a
          >
        </div>
      </div>
      <div class="map-info-row">
        <div class="row-desc">
          <span translate translation="start"></span>
        </div>
        <div class="row-info">
          <app-gmt-date-time [dateTime]="news.cup.startDateTime"></app-gmt-date-time>
        </div>
      </div>
      <div class="map-info-row">
        <div class="row-desc">
          <span translate translation="finish"></span>
        </div>
        <div class="row-info">
          <app-gmt-date-time [dateTime]="news.cup.endDateTime"></app-gmt-date-time>
        </div>
      </div>
      <div class="map-info-row">
        <div class="row-desc">
          <span translate translation="author"></span>
        </div>
        <div class="row-info">{{ news.cup.mapAuthor }}</div>
      </div>
      <div class="map-info-row">
        <div class="row-desc">
          <span translate translation="weapons"></span>
        </div>
        <div class="row-info">
          <app-weapons [weapons]="news.cup.mapWeapons"></app-weapons>
        </div>
      </div>
      <div class="map-info-row">
        <div class="row-desc">
          <span translate translation="download"></span>
        </div>
        <div class="row-info">
          <a [href]="news.cup.mapPk3" download>{{ news.cup.mapSize }} MB</a>
        </div>
      </div>
      <div class="map-info-row">
        <div class="row-desc">
          <span translate translation="rules"></span>
        </div>
        <div class="row-info">
          <a routerLink="/rules">
            <span translate translation="fullRules"></span>
          </a>
          <span class="separator">|</span>
          <a href="/assets/files/offline-rules.cfg" target="_blank">
            <span translate translation="config"></span>
          </a>
          <ng-container *ngIf="news.cup.multicupId === '10'">
            <span class="separator">|</span>
            <a (click)="openSDCPopup()" class="popup-link" target="_blank">
              SDC
            </a>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="map-info-table">
      <div class="map-info-row">
        <div class="row-desc">
          <span translate translation="upload"></span>
        </div>
        <div class="row-info">
          <ng-container *ngIf="user$ | async; else notLogged">
            <ng-container [ngSwitch]="cupState">
              <div *ngSwitchCase="cupStates.IN_PROGRESS" class="demo-upload-block">
                <input #fileInput name="demo" accept=".dm_68" type="file" />
                <div (click)="uploadDemo()" class="demo-upload-button">
                  <mat-spinner
                    *ngIf="isUploading"
                    diameter="20"
                    strokeWidth="2"
                    color="accent"
                    class="spinner"
                  ></mat-spinner>
                  <mat-icon class="upload-icon">upload</mat-icon>
                </div>
              </div>
              <div *ngSwitchCase="cupStates.FINISHED">
                <span translate translation="cupFinished"></span>
              </div>
              <div *ngSwitchCase="cupStates.NOT_STARTED">
                <span translate translation="cupNotStarted"></span>
              </div>
            </ng-container>
          </ng-container>

          <ng-template #notLogged>
            <span translate translation="loginOrRegister"></span>
          </ng-template>
        </div>
      </div>
      <div class="map-info-row">
        <div class="row-desc">
          <span translate translation="time"></span>
        </div>
        <div class="row-info">
          <ng-container *ngIf="news.playerDemos && !!news.playerDemos.length; else noDemos">
            <div class="top-demos">
              <ng-container *ngIf="news.cpmRes && news.cpmDemo">
                <a href="{{ mainUrl }}/api/uploads/demos/cup{{ news.cup.id }}/{{ news.cpmDemo }}">{{ news.cpmRes }}</a
                >&nbsp;(cpm)
                <span *ngIf="news.vq3Res && news.vq3Demo">,&nbsp;</span>
              </ng-container>
              <ng-container *ngIf="news.vq3Res && news.vq3Demo">
                <a href="{{ mainUrl }}/api/uploads/demos/cup{{ news.cup.id }}/{{ news.vq3Demo }}">{{ news.vq3Res }}</a
                >&nbsp;(vq3)
              </ng-container>
            </div>
            <div (click)="openPlayerDemosDialog()" class="player-demos-button">
              <img src="/assets/images/icons/list.png" />
            </div>
          </ng-container>
          <ng-template #noDemos>
            <span translate translation="noUploadedDemos"></span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="news.cup.bonusRating !== '0'" class="bonus-rating">
  <span translate translation="bonusRating"></span>: +{{ news.cup.bonusRating }}.
</div>

<app-html-news [news]="news"></app-html-news>
