<img *ngIf="hasGrenade" src="/assets/images/icons/svg/iconw_grenade.svg">
<img *ngIf="hasRocket" src="/assets/images/icons/svg/iconw_rocket.svg">
<img *ngIf="hasPlasma" src="/assets/images/icons/svg/iconw_plasma.svg">
<img *ngIf="hasBFG" src="/assets/images/icons/svg/iconw_bfg.svg">
<img *ngIf="hasGauntlet" src="/assets/images/icons/svg/iconw_gauntlet.svg">
<img *ngIf="hasMachinegun" src="/assets/images/icons/svg/iconw_machinegun.svg">
<img *ngIf="hasShotgun" src="/assets/images/icons/svg/iconw_shotgun.svg">
<img *ngIf="hasLightning" src="/assets/images/icons/svg/iconw_lightning.svg">
<img *ngIf="hasRailgun" src="/assets/images/icons/svg/iconw_railgun.svg">
<img *ngIf="hasHook" src="/assets/images/icons/svg/iconw_grapple.svg">