<div class="background"></div>

@if (fullTable) {
  <div class="table-container">
    <div class="table-bg"></div>
    <div class="table-upper-header">
      <a translate translation="returnToMainpage" class="header-link mainpage" href="/"></a>
      <span class="yellow">{{ fullTable.fullName }}:</span>
      <span class="cup-physics">{{ fullTable.physics }}</span>
      @if (isEESystem) {
        <a
          class="header-link system"
          href="/rules/ee-system"
          >
          EE System
        </a>
      }
    </div>
    <div class="header-row">
      <div class="cell number"></div>
      <div class="cell player-name">Player name</div>
      @for (round of range(fullTable.rounds); track round; let i = $index) {
        <div class="cell">
          @if (i + 1 < fullTable.currentRound) {
            <a (click)="navigateToRound.emit(i + 1)" class="round-link">Round {{ i + 1 }}</a>
          }
          @if (i + 1 === fullTable.currentRound) {
            <div class="yellow">Round {{ i + 1 }}</div>
          }
          @if (i + 1 > fullTable.currentRound) {
            Round {{ i + 1 }}
          }
        </div>
      }
      <div [class.yellow]="fullTable.currentRound === roundsCount" class="cell">Overall</div>
    </div>
    @for (result of fullTable.players; track result; let i = $index) {
      <div class="results-row">
        @if (places[i] < 4) {
          <div
            [class.gold]="places[i] === 1"
            [class.silver]="places[i] === 2"
            [class.bronze]="places[i] === 3"
            class="number cell"
          ></div>
        }
        @if (places[i] >= 4) {
          <div class="number cell">{{ places[i] }}</div>
        }
        <div class="cell player-name">
          <app-player-cell
            [country]="result.playerCountry"
            [nick]="result.playerNick"
            [playerId]="result.playerId"
            [style]="playerCellStyles.TRANSPARENT"
          ></app-player-cell>
        </div>
        @for (roundResult of range(fullTable.rounds); track roundResult; let roundIndex = $index) {
          <div
            [class.gray]="result.minround === roundIndex + 1"
            class="cell"
            >
            {{ result.roundResults[roundIndex] | invokeFunction: getPlayerRoundResult : roundIndex < fullTable.currentRound - 1 }}
          </div>
        }
        <div [class.yellow]="fullTable.currentRound === roundsCount" class="cell">{{ result.overall }}</div>
      </div>
    }
  </div>
}
