:host {
    display: inline-flex;
    margin-left: 8px;
}

.green {
    color: green;
    font-family: bebas;
    display: flex;
    align-items: center;
}

.red {
    color: red;
    font-family: bebas;
}

.white {
    color: white;
    font-family: bebas;
}

.elektra {
    font-family: elektra;
    font-size: 22px;
    font-weight: bold;
}

.bebas {
    font-family: bebas;
}