<div *ngIf="onlineCupInfo" class="container">
  <div class="inner-container">
    <div class="title">{{ onlineCupInfo.title }}</div>
    <div class="subtitle">{{ onlineCupInfo.subtitle }}</div>
    <div class="timer-and-maps">
      <div class="timer">{{ displayedMinutes }}:{{ displayedSeconds }}</div>
      <div class="maps">
        <div
          *ngFor="let map of onlineCupInfo.maps; let i = index"
          [ngClass]="{
            played: currentMap > i + 1,
            selected: currentMap === i + 1,
            map: true
          }"
          (click)="setMap(i + 1)"
        >
          {{ i + 1 }}. {{ currentMap < i + 1 ? placeholder : map }}
        </div>
      </div>
    </div>
  </div>
</div>
