<div *ngIf="(language$ | async) === languages.RU" class="shadowed-main-block">
  <h1 class="h1-block-header">Описание системы рейтинга</h1>
  <div style="margin-top: 15px; line-height: 1.6">
    <p>
      <b style="font-size: 16px">I. Рейтинговая система построена на нескольких принципах:</b><br />
      1) Чем лучше выступление игрока в конкретном турнире, тем больше он набирает рейтинга;<br />
      2) Выступление игрока оценивается исходя из его собственного рейтинга, среднего рейтинга турнира и количества
      набранных игроком очков;<br />
      3) Участие в турнирах на начальном рейтинге поощряется таким образом, чтобы нельзя было потерять рейтинг ниже
      начального значения - для того, чтобы не было выгоднее регистрировать новый аккаунт после потери рейтинга на
      старом;<br />
      4) Чем больше игрок набирает рейтинг, тем сложнее ему становится его набирать дальше.
    </p>
    <p>
      <b style="font-size: 16px">II. Рейтинговая система основана на рейтинге Эло.</b><br />
      Рейтинг каждого игрока выражается четырехзначным числом, исходя из того, что чем выше число - тем лучше.
      Изначально всем игрокам устанавливается рейтинг 1500, при этом игроки, ни разу не участвовавшие в турнирах, не
      отображаются в общей рейтинговой таблице. При подсчете рейтинга используются формулы:
    </p>
    <div style="margin-top: 10px; margin-bottom: 10px">
      <table border="0" width="100%">
        <tr>
          <td align="right" width="45%">
            <img src="/assets/images/formula_2.png" style="height: 40px" />
          </td>
          <td sidth="10%"></td>
          <td align="left" width="45%">
            <img src="/assets/images/formula_1.png" style="height: 75px" />
          </td>
        </tr>
      </table>
    </div>
    <p>
      Ra - текущий рейтинг игрока, Rb - средний рейтинг турнира, R'a - новый рейтинг игрока, K - коэффициент изменения
      рейтинга, Sa - эффективность по очкам.
    </p>
    <p>
      Средний рейтинг расчитывается как простое среднее арифметическое, K устанавливается в 40 для онлайн-турниров и в
      60 для оффлайн-турниров, эти значения разные, чтобы балансировать набор рейтинга между разными типами турниров.
      Эффективность по очкам рассчитывается в зависимости от места игрока в таблице, 1 место = 100% = 1, пятое место при
      пяти игроках = (5-5+1)/5 = 20% = 0.2, четвертое место при десяти игроках = (10-4+1)/10 * 100% = 70% = 0.7 и т.д. В
      результате по формулам получаем изменение очков каждого игрока. В онлайн-турнире расчет рейтинга идет для каждого
      отдельного раунда турнира, в котором принял участие игрок (не сыгранные раунды не учитываются).
    </p>
    <p>
      <b style="font-size: 16px"
        >III. Существует три группы игроков по рейтингу, для каждой группы свои правила подсчета рейтинга:</b
      ><br />
      1) 1500 - 1700 &ndash; в этой группе нельзя потерять очки рейтинга, если изменение рейтинга Эло отрицательное, то
      оно приравнивается к нулю. Дополнительно за каждый сыгранный раунд онлайн-турнира игроки получают по +3 бонусных
      очка рейтинга, за каждый сыгранный раунд оффлайн-турнира игроки получают +10 бонусных очков рейтинга;<br />
      2) 1700 - 2000 &ndash; бонусные очки (+3 и +10) из первой группы сохраняются, но здесь уже изменение рейтинга
      может быть отрицательным. При этом потерять рейтинг ниже 1700 будет нельзя;<br />
      3) 2000+ &ndash; в этой группе действует чистая система Эло без бонусных очков. При этом можно потерять рейтинг до
      уровня ниже 2000.<br />
      В случае, если в конце таблицы находится группа игроков, получающая только бонусные рейтинговые очки, в их группе
      происходит тай-брейк по результату таким образом, что первый игрок из группы получает 10 очков, второй - 9 и т.д.
      до 1 очка рейтинга (минимум).
    </p>
    <p>
      <b style="font-size: 16px">IV. Дополнительно игрокам начисляются бонусные очки за победу в турнирах.</b><br />
      При числе участников турнира 30 или более, победители получают +50/+30/+20 очков за первые три места. При числе
      участников три или менее победители получают +15/+10/+5 очков. При числе участников от 3 до 30 призовые очки
      распределяются пропорционально количеству участников с учетом ранее названных максимальных и минимальных значений
      бонусных очков.
    </p>
    <p>
      <b style="font-size: 16px">V. Дополнительно игрокам начисляются бонусные очки за участие в двух физиках.</b><br />
      На оффлайн капе, если игрок прислал валидные демки в обеих физиках, игрок получает +5 рейтинга к финальному
      обсчету в обеих физиках.
    </p>
    <p>
      <b style="font-size: 16px; text-decoration: underline">Изменения:</b><br />
      <i>18.02.2018</i> &ndash; Изменены правила распределения очков в нижней части таблицы<br />
      <i>25.02.2018</i> &ndash; Изменена система расчета бонусных очков за победу в турнирах<br />
      <i>11.07.2018</i> &ndash; Добавлены бонусные очки за участие в обеих физиках
    </p>
  </div>
</div>

<div *ngIf="(language$ | async) === languages.EN" class="shadowed-main-block">
  <h1 class="h1-block-header">Description of the rating system</h1>
  <div style="margin-top: 15px; line-height: 1.6">
    <p>
      <b style="font-size: 16px">I. Rating system is based on several principles:</b><br />
      1) The better player performs in a single tournament, the more rating he gets;<br />
      2) Player performance is evaluated using his own rating, average tournament rating and the points he earned;<br />
      3) Playing at the starting rating is encouraged in such way that it is impossible to lose rating beyond the
      starting point – this is to prevent people from registering new accounts after losing rating on the main one;<br />
      4) The more rating the player gets, the harder it is from him to gain rating further.
    </p>
    <p>
      <b style="font-size: 16px">II. Rating system is based on Elo rating.</b><br />
      Rating of each player is represented by a four-digit number, meaning the higher – the better. Starting rating is
      1500 for every player in each physics, and player who didn’t take part in any tournament are not displayed in the
      full rating list. Rating is calculated by this formula:
    </p>
    <div style="margin-top: 10px; margin-bottom: 10px">
      <table border="0" width="100%">
        <tr>
          <td align="right" width="45%">
            <img src="/assets/images/formula_2.png" style="height: 40px" />
          </td>
          <td sidth="10%"></td>
          <td align="left" width="45%">
            <img src="/assets/images/formula_1.png" style="height: 75px" />
          </td>
        </tr>
      </table>
    </div>
    <p>
      Ra – current player rating; Rb – tournament average rating; R’a – player’s new rating; K – rating change
      coefficient; Sa – points efficiency.
    </p>
    <p>
      Average rating is calculated as a simple arithmetical mean, K is set 40 for online tournaments and 60 for offline
      tournaments, these values are different to balance rating changes for different tournament types. Points
      efficiency is calculated considering the player’s place in the final table, 1st place = 100% = 1, 5th place with 5
      players = (5-5+1)/5 = 20% = 0.2, 4th place with 10 players = (10-4+1)/10 * 100% = 70% = 0.7 and so on. In the
      result, we get rating points change for every player. In the online cups, rating is calculated for each separate
      round in which player participated (not played rounds are not taken into account).
    </p>
    <p>
      <b style="font-size: 16px">III. There are three rating groups, each group has its own rating change rules:</b
      ><br />
      1) 1500 - 1700 &ndash; it is not possible to lose rating here, if Elo change is negative, it is set to zero. Also,
      for each played round (in online cup) players are awarded +3 bonus rating points, and for each participation in
      offline cup, players get +10 bonus rating points;<br />
      2) 1700 - 2000 &ndash; bonus point from first group are still present, but Elo rating change can be negative here.
      Players cannot lose rating beyond 1700 here;<br />
      3) 2000+ &ndash; in this group rating is calculated by pure Elo system without bonus points. It is possible to
      lose rating beyond 200 here.<br />
      In case there is a group of players at the end of the table getting only bonus rating points, this group goes
      through tie-break in such way that the top performing player gets 10 points, the next gets 9 points and so on till
      1 rating point (minimum).
    </p>
    <p>
      <b style="font-size: 16px">IV. Additionally, there are reward points for winning cups.</b><br />
      If the tournament has 30 or more participants, winners get +50/+30/+20 bonus points for first three places. If the
      tournament has 3 or less participants, winners get +15/+10/+5 bonus points. If the number of participants is
      between 3 and 30, bonus points are calculated in proportion to the number of players, taking into account maximum
      and minumim number of points, which were written before.
    </p>
    <p>
      <b style="font-size: 16px">V. Players are awarded bonus points for participating in both physics.</b><br />
      If player sent two valid demos in different physics for one offline cup, he gets +5 bonus rating points during
      rating calculation in both physics.
    </p>
    <p>
      <b style="font-size: 16px; text-decoration: underline">Change list:</b><br />
      <i>18.02.2018</i> &ndash; Added rules of rating distribution at the lower part of the tables<br />
      <i>25.02.2018</i> &ndash; Bonus points for tournament winners were adjusted to depend on number of players<br />
      <i>11.07.2018</i> &ndash; Added bonus points for sending demos in both physics
    </p>
  </div>
</div>
