<div class="background"></div>

<div *ngIf="round" class="column left">
    <div class="round-info">
        <ng-container *ngIf="round.shortName">
            <div>{{ round.fullName }}, {{ round.physics }}:</div>
            <div class="cup-name">{{ round.shortName }}</div>
            <div>round {{ roundNumber }}, map&nbsp;{{ round.map }}</div>
        </ng-container>
        <ng-container *ngIf="!round.shortName">
            <div>
                <span class="cup-name">{{ round.fullName }}:</span> round {{ roundNumber }}, {{ round.physics }}
            </div>
            <div>map&nbsp;{{ round.map }}</div>
        </ng-container>
    </div>
    <div *ngIf="round.levelshot" class="levelshot">
        <img [src]="round.levelshot" />
    </div>
</div>
<div *ngIf="round" class="column right">
    <div class="result-table">
        <div class="row">
            <div class="number cell"></div>
            <div class="player header cell">Player</div>
            <div class="result header cell">Time</div>
            <div *ngIf="round.hasPoints" class="result header cell">Points</div>
        </div>
        <div *ngFor="let result of round.resultsTable; let i = index;" class="row">
            <ng-container *ngIf="places[i] < 4">
                <div 
                    [class.gold]="places[i] === 1" 
                    [class.silver]="places[i] === 2" 
                    [class.bronze]="places[i] === 3" 
                    class="number cell">
                </div>
            </ng-container>
            <ng-container *ngIf="places[i] >= 4">
                <div class="number cell">{{ places[i] }}</div>
            </ng-container>
            <div class="player cell">
                <app-player-cell
                    [country]="result.country"
                    [nick]="result.nick"
                    [playerId]="result.playerId"
                    [style]="playerCellStyles.TRANSPARENT"
                ></app-player-cell>
            </div>
            <div class="result cell">{{ getFormattedTime(result.time) }}</div>
            <div *ngIf="round.hasPoints" class="result cell">{{ result.points }}</div>
        </div>
    </div>
</div>