<div translate translation="signUpOnSite" class="h1-block-header dialog-header"></div>

<form [formGroup]="registerForm">
  <div class="input-container">
    <div class="input-caption"><span translate translation="userLogin"></span> <span class="required"></span></div>
    <div>
      <input formControlName="login" class="input-field" />
      <div *ngIf="isLoginRequiredError" class="field-error">
        <span translate translation="fieldIsRequired"></span>
      </div>
      <div *ngIf="loginInvalidError" class="field-error">
        {{ loginInvalidError }}
      </div>
    </div>
  </div>
  <div class="input-container">
    <div class="input-caption">E-mail <span class="required"></span></div>
    <div>
      <input formControlName="email" class="input-field" />
      <div *ngIf="isEmailRequiredError" class="field-error">
        <span translate translation="fieldIsRequired"></span>
      </div>
      <div *ngIf="emailInvalidError" class="field-error">
        {{ emailInvalidError }}
      </div>
    </div>
  </div>
  <div class="input-container">
    <div class="input-caption"><span translate translation="password"></span> <span class="required"></span></div>
    <div>
      <input formControlName="password" class="input-field password" type="password" />
      <div *ngIf="isPasswordRequiredError" class="field-error">
        <span translate translation="fieldIsRequired"></span>
      </div>
    </div>
  </div>
  <div class="input-container">
    <div class="input-caption"><span translate translation="confirmation"></span> <span class="required"></span></div>
    <div>
      <input formControlName="validation" class="input-field password" type="password" />
      <div *ngIf="isPasswordValidationRequiredError" class="field-error">
        <span translate translation="fieldIsRequired"></span>
      </div>
      <div *ngIf="passwordValidationError" class="field-error">
        {{ passwordValidationError }}
      </div>
    </div>
  </div>
</form>

<div class="dialog-button">
  <mat-spinner *ngIf="isLoading" diameter="20" strokeWidth="2" color="accent" class="spinner"></mat-spinner>
  <button [disabled]="!registerForm.valid || isLoading" (click)="onRegisterClick()" mat-raised-button color="primary">
    <span translate translation="signUp"></span>
  </button>
</div>
