<div class="bold-15">
    <span translate translation="tournamentParticipation"></span>:
</div>
<div class="table-container">
    <mat-table [dataSource]="cups">
        <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef class="cup-name-column">
                <span translate translation="tournamentName"></span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="cup-name-column"> 
                <a *ngIf="row.newsId" href="/news/{{ row.newsId }}">{{ row.fullName }} – {{ row.shortName }}</a> 
                <span class="cup-name" *ngIf="!row.newsId">{{ row.fullName }} – {{ row.shortName }}</span>
            </mat-cell>
        </ng-container>
    
        <ng-container cdkColumnDef="physics">
            <mat-header-cell *cdkHeaderCellDef class="physics-column">
                <span translate translation="physics"></span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="physics-column"> {{ row.physics }} </mat-cell>
        </ng-container>
    
        <ng-container cdkColumnDef="result">
            <mat-header-cell *cdkHeaderCellDef class="result-column">
                <span translate translation="result"></span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="result-column"> 
                <img *ngIf="row.resultPlace === 1" src="/assets/images/icons/result-tables/gold.png" class="place-icon" />
                <img *ngIf="row.resultPlace === 2" src="/assets/images/icons/result-tables/silver.png" class="place-icon" />
                <img *ngIf="row.resultPlace === 3" src="/assets/images/icons/result-tables/bronze.png" class="place-icon" />
                <span class="left-4"> {{ row.resultPlace }} <span translate translation="place" class="lowercase"></span></span>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="rating">
            <mat-header-cell *cdkHeaderCellDef class="rating-column">
                <span translate translation="rating"></span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="rating-column"> 
                <app-rating-change [change]="row.ratingChange"></app-rating-change>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *cdkHeaderRowDef="['name', 'physics', 'result', 'rating']"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: ['name', 'physics', 'result', 'rating']"></mat-row>
    </mat-table>
</div>
