<div *ngIf="isCupOrganizer()" class="actions-container">
  <mat-card class="card">
    <div class="card-header">Offline cup</div>
    <div class="card-text">Simple cup, like warcup</div>
    <div>
      <button
        routerLink="/admin/cups/offline/add"
        mat-raised-button
        color="accent"
        data-test-id="add-offline-cup-button"
      >
        Add offline cup
      </button>
    </div>
  </mat-card>
  <mat-card class="card">
    <div class="card-header">Offline multicup round</div>
    <div class="card-text">Round of tournament series</div>
    <div>
      <button
        routerLink="/admin/cups/multicup-round/add"
        mat-raised-button
        color="accent"
        data-test-id="add-multicup-round-button"
      >
        Add multicup round
      </button>
    </div>
  </mat-card>
  <mat-card class="card">
    <div class="card-header">Online cup</div>
    <div class="card-text">5 rounds by 30 minutes each</div>
    <div>
      <button routerLink="/admin/cups/online/add" mat-raised-button color="accent" data-test-id="add-online-cup-button">
        Add online cup
      </button>
    </div>
  </mat-card>
</div>
<mat-card class="cups-table-card">
  <div class="card-header">Cups list</div>
  <div *ngIf="cups$ | async as cups; else isLoading" class="cups-table">
    <div class="cell first table-head">Number</div>
    <div class="cell table-head">Full name</div>
    <div class="cell table-head">Duration</div>
    <div class="cell table-head">Type</div>
    <div class="cell table-head">Actions</div>
    <ng-container *ngFor="let cup of cups; let i = index">
      <div class="cell first">{{ cups.length - i }}</div>
      <div class="cell header" data-test-id="cup-fullname-text">{{ cup.fullName }}</div>
      <div class="cell">{{ cup.duration }}</div>
      <div class="cell type">{{ cup.type }}</div>
      <div class="cell actions buttons">
        <button
          *ngIf="cup.validationAvailable"
          [routerLink]="'/admin/validate/' + cup.id"
          mat-raised-button
          color="basic"
        >
          Validate demos
        </button>
        <button *ngIf="cup.calculateRatingsAvailable" (click)="finishCup(cup.id)" mat-raised-button color="primary">
          Finish cup
        </button>
        <ng-container *ngIf="isEditingCupAvailable(cup)">
          <button
            *ngIf="cup.hasTwoServers"
            [routerLink]="'/admin/cups/online/balance-players/' + cup.id"
            mat-raised-button
            color="secondary"
          >
            Balance players
          </button>
          <button
            *ngIf="cup.type === cupTypes.ONLINE"
            [routerLink]="'/admin/cups/online/input-results/' + cup.id"
            mat-raised-button
            color="secondary"
          >
            Input results
          </button>
          <button
            [routerLink]="cup | invokeFunction: getCupEditLink"
            mat-raised-button
            color="basic"
            data-test-id="edit-cup-button"
          >
            Edit
          </button>
          <button (click)="confirmDelete(cup)" mat-raised-button color="warn" data-test-id="delete-cup-button">
            Delete
          </button>
        </ng-container>
        <ng-container *ngIf="!cup.validationAvailable && !cup.calculateRatingsAvailable && !isEditingCupAvailable(cup)">
          No actions available
        </ng-container>
      </div>
    </ng-container>
  </div>
  <ng-template #isLoading>
    <div class="spinner">
      <mat-spinner diameter="75" strokeWidth="4" color="accent"></mat-spinner>
    </div>
  </ng-template>
</mat-card>
