.actions-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.card {
  width: 300px;
}

.card-header {
  font-weight: 700;
  font-size: 16px;
}

.card-text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.cups-table-card {
  margin-top: 16px;
  width: 100%;
  height: 100%;
}

.cups-table {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 80px 1.5fr 1fr 100px 240px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.cell {
  display: flex;
  padding: 12px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  align-items: center;
  justify-content: center;

  &.table-head {
    border-top: 1px solid #ccc;
    background: #f3f3f3;
  }

  &.first {
    border-left: 1px solid #ccc;
  }

  &.header {
    justify-content: left;
  }

  &.buttons button {
    margin-left: 16px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
