<div class="shadowed-main-block">
  <h1 class="h1-block-header">
    <span translate translation="defragMovies"></span>
  </h1>

  @if ((movies$ | async); as movies) {
    <div class="movies-container">
      @if (!!movies.length) {
        @for (movie of movies; track movie) {
          <div class="movie-block">
            <a href="https://youtube.com/watch?v={{ movie.youtube }}" target="_blank" class="movie-link">
              <div [ngStyle]="getMovieBgStyle(movie.youtube)" class="movie-bg"></div>
              <div class="movie-sub">
                <div class="movie-name">{{ movie.name }}</div>
                <div class="movie-author-year">{{ movie.author | invokeFunction : getAuthorName }} / {{ movie.year }}</div>
              </div>
            </a>
          </div>
        }
      } @else {
        <div class="loader">
          <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
        </div>
      }
    </div>
  } @else {
    <div class="loader">
      <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
    </div>
  }

</div>
