<div class="background"></div>

@if (round) {
  <div class="column left">
    <div class="round-info">
      @if (round.shortName) {
        <div>{{ round.fullName }}, {{ round.physics }}:</div>
        <div class="cup-name">{{ round.shortName }}</div>
        <div>round {{ roundNumber }}, map&nbsp;{{ round.map }}</div>
      }
      @if (!round.shortName) {
        <div>
          <span class="cup-name">{{ round.fullName }}:</span> round {{ roundNumber }}, {{ round.physics }}
        </div>
        <div>map&nbsp;{{ round.map }}</div>
      }
    </div>
    @if (round.levelshot) {
      <div class="levelshot">
        <img [src]="round.levelshot" />
      </div>
    }
  </div>
}
@if (round) {
  <div class="column right">
    <div class="result-table">
      <div class="row">
        <div class="number cell"></div>
        <div class="player header cell">Player</div>
        <div class="result header cell">Time</div>
        @if (round.hasPoints) {
          <div class="result header cell">Points</div>
        }
      </div>
      @for (result of round.resultsTable; track result; let i = $index) {
        <div class="row">
          @if (places[i] < 4) {
            <div
              [class.gold]="places[i] === 1"
              [class.silver]="places[i] === 2"
              [class.bronze]="places[i] === 3"
              class="number cell"
            ></div>
          }
          @if (places[i] >= 4) {
            <div class="number cell">{{ places[i] }}</div>
          }
          <div class="player cell">
            <app-player-cell
              [country]="result.country"
              [nick]="result.nick"
              [playerId]="result.playerId"
              [style]="playerCellStyles.TRANSPARENT"
            ></app-player-cell>
          </div>
          <div class="result cell">{{ getFormattedTime(result.time) }}</div>
          @if (round.hasPoints) {
            <div class="result cell">{{ result.points }}</div>
          }
        </div>
      }
    </div>
  </div>
}
