<div translate translation="wrList" class="block-header h1-block-header wr-list-header"></div>

<div class="list-controls">
  <input
    class="filter-field"
    [formControl]="filterControl"
    [placeholder]="filterByMapNameText"
    data-test-id="input-map-filter"
  />

  <div class="toggle-container" data-test-id="physics-toggle">
    <div
      [class.selected]="selectedPhysics === null"
      (click)="changePhysicsFilter(null)"
      mat-ripple
      class="toggle-option"
    >
      All
    </div>
    <div
      [class.selected]="selectedPhysics === physics.VQ3"
      (click)="changePhysicsFilter(physics.VQ3)"
      mat-ripple
      class="toggle-option"
    >
      VQ3
    </div>
    <div
      [class.selected]="selectedPhysics === physics.CPM"
      (click)="changePhysicsFilter(physics.CPM)"
      mat-ripple
      class="toggle-option"
    >
      CPM
    </div>
  </div>
</div>

@if (isLoading) {
  <div class="loader">
    <mat-spinner diameter="50" strokeWidth="4" color="accent"></mat-spinner>
  </div>
} @else if (records.length === 0) {
  <div translate translation="noWrFound" class="empty-state"></div>
} @else {
  <div class="wr-table">
    <div class="row header">
      <div translate translation="map" class="cell header map"></div>
      <div translate translation="player" class="cell header player"></div>
      <div translate translation="physics" class="cell header physics"></div>
      <div translate translation="time" class="cell header time"></div>
      <div translate translation="date" class="cell header date"></div>
    </div>

    @for (record of records; track record.map + record.physics) {
      <div class="row">
        <div class="cell map left padding">{{ record.map }}</div>
        <div class="cell player left">
          @if (record.playerId) {
            <app-player-cell
              [nick]="record.playerNick!"
              [country]="record.playerCountry"
              [playerId]="record.playerId"
            ></app-player-cell>
          } @else {
            <span class="df-name">
              <app-flag [country]="record.playerCountry"></app-flag>
              {{ record.playerNick }}
            </span>
          }
        </div>
        <div class="cell physics">
          <span class="physics-badge physics-badge--{{ record.physics }}">{{ record.physics | uppercase }}</span>
        </div>
        <div class="cell time">
          <a [href]="record.demoLink" download class="time-link" data-test-id="demo-time-link">
            {{ formatTime(record.time) }}
          </a>
        </div>
        <div class="cell date">{{ formatDate(record.uploadedAt) }}</div>
      </div>
    }
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPagesCount]="pagesCount"
    [componentPagesCount]="10"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
}
