<div class="shadowed-main-block">
    <h1 class="h1-block-header">{{ translations?.defragMovies }}</h1>

    <div *ngIf="(movies$ | async) as movies; else loader" class="movies-container">
        <ng-container *ngIf="!!movies.length; else loader">
            <div *ngFor="let movie of movies" class="movie-block">
                <a href="https://youtube.com/watch?v={{ movie.youtube }}" target="_blank" class="movie-link">
                    <div [ngStyle]="getMovieBgStyle(movie.youtube)" class="movie-bg"></div>
                    <div class="movie-sub">
                        <div class="movie-name">{{ movie.name }}</div>
                        <div class="movie-author-year">{{ getAuthorName(movie.author) }} / {{ movie.year }}</div>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>

    <ng-template #loader>
        <div class="loader">
            <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
        </div>
    </ng-template>
</div>