<div class="shadowed-main-block">
    <h1 class="h1-block-header">
        <span translate translation="oneVOneMatches"></span>
    </h1>

    <div class="row">
        <div class="main-screen">
            <div class="player">
                <div class="player-flag-nick">
                    <div class="player-flag ru"></div>
                    <div class="player-nick">w00dy</div>
                </div>
                <div class="player-rating">CPM Rating: 2337</div>
            </div>
            <div class="map-row">
                <div class="map abydos"></div>
                <div class="map amaranth"></div>
                <div class="map countach"></div>
                <div class="map enigma"></div>
                <div class="map medieva"></div>
            </div>
            <div class="player">
                <div class="player-flag-nick">
                    <div class="player-flag ru"></div>
                    <div class="player-nick">Nosf</div>
                </div>
                <div class="player-rating">CPM Rating: 2337</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="rules">
            <div class="block-header">Правила</div>
            <div class="block-content">
                Всем бан за мой счет
            </div>
        </div>
    </div>

    <div class="row">
        <div class="player-matches">
            <div class="block-header">Мои матчи</div>
        </div>
        <div class="all-matches">
            <div class="block-header">Все матчи</div>
        </div>
    </div>
</div>