@import './../../../assets/styles/typography.less';

.one-v-one-container {
    display: flex; 
}

.row {
    display: flex;
    margin-top: 16px;
}

.rules {
    flex-grow: 1;
    height: 328px;
    border: 1px solid #e0e0e0;
}

.main-screen {
    flex-grow: 1;
    height: 450px;
    border: 1px solid #e0e0e0;
    background: url('../../../assets/images/1v1/bg.png') no-repeat;
    color: white;
    padding-left: 68px;
    padding-right: 68px;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    letter-spacing: 1px;
}

.main-screen-title {
    margin-top: 12px;
    font-family: bebas;
    margin-left: -53px;
    color: #ffe557;
}

.queue-buttons-container {
    display: flex;
    margin-top: 174px;
    align-items: center;
    justify-content: center;

    button + button {
        margin-left: 32px;
    }
}

.searching-for-opponent {
    font-family: bebas;
    margin-top: 92px;
    text-align: center;
}

.queue-timer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.timer {
    position: absolute;
}

.leave-queue {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.player-matches {
    flex-grow: 1;
    height: 288px;
    border: 1px solid #e0e0e0;
    margin-right: 16px;
}

.all-matches {
    flex-grow: 1;
    height: 288px;
    border: 1px solid #e0e0e0;
}

.block-header {
    padding: 8px 0px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.block-content {
    margin: 12px;
}