<ng-container [ngSwitch]="timerState">
    <ng-container *ngSwitchCase="timerStates.AWAITING_START">
        <app-cup-timer-online-awaiting
            [cupName]="cupName"
            [startTime]="startTime"
            (finished)="changeTimerState(timerStates.IN_PROGRESS)">
        </app-cup-timer-online-awaiting>
    </ng-container>
    <ng-container *ngSwitchCase="timerStates.IN_PROGRESS">
        <app-cup-timer-online-progress
            [cupName]="cupName"
            [newsId]="newsId"
            [endTime]="endTime"
            [server]="server"
            (finished)="changeTimerState(timerStates.FINISHED)">
        </app-cup-timer-online-progress>
    </ng-container>
    <ng-container *ngSwitchCase="timerStates.FINISHED">
        <app-cup-timer-online-finished
            [cupName]="cupName"
            [newsId]="newsId"
            [endTime]="endTime"
            [server]="server">
        </app-cup-timer-online-finished>
    </ng-container>
</ng-container>