<div class="h1-block-header dialog-header">{{ translations?.demoValidationFailed }}</div>
<table>
    <tr>
        <td class="parameter-th table-header">{{ translations?.parameter }}</td>
        <td class="table-header">{{ translations?.actualValue }}</td>
        <td class="table-header">{{ translations?.requiredValue }}</td>
    </tr>
    <tr *ngFor="let validationError of validationErrorNames">
        <td class="table-field error-name">{{ validationError }}</td>
        <td class="table-field">{{ data[validationError].actual }}</td>
        <td class="table-field">{{ data[validationError].expected }}</td>
    </tr>
</table>