<div class="h1-block-header dialog-header">Демо не прошло валидацию</div>
<table>
    <tr>
        <td class="parameter-th table-header">Параметр</td>
        <td class="table-header">Текущее значение</td>
        <td class="table-header">Требуемое значение</td>
    </tr>
    <tr *ngFor="let validationError of validationErrorNames">
        <td class="table-field error-name">{{ validationError }}</td>
        <td class="table-field">{{ data[validationError].actual }}</td>
        <td class="table-field">{{ data[validationError].expected }}</td>
    </tr>
</table>