<div class="background"></div>

<div *ngIf="fullTable" class="table-container">
    <div class="table-bg"></div>
    <div class="table-upper-header">
        <a class="header-link mainpage" href="/">На главную</a>
        <span class="cup-name">{{ fullTable.fullName }}: </span>
        <span class="cup-physics">доделать физику</span>
        <a *ngIf="fullTable.system === cupSystems.EE" class="header-link system" href="https://docs.google.com/forms/d/e/1FAIpQLScdbpcs6rczpF1C_TQ4IFUxUqARq9MXygeP9Ru2sjZl3cdUDA/viewform">
            EE System
        </a>
    </div>
    <div class="header-row">
        <div class="cell number"></div>
        <div class="cell player-name">Player name</div>
        <div *ngFor="let round of range(fullTable.rounds); let i = index;" class="cell">
            <a (click)="navigateToRound(i + 1)" class="round-link">Round {{ i + 1 }}</a>
        </div>
        <div class="cell">Overall</div>
    </div>
    <div *ngFor="let result of fullTable.players" class="results-row">
        <div [class.gold]="false" [class.silver]="false" [class.bronze]="false" class="cell number"></div>
        <div class="cell player-name">
            <app-player-cell 
                [country]="result.playerCountry" 
                [nick]="result.playerNick" 
                [playerId]="result.playerId" 
                [style]="playerCellStyles.TRANSPARENT">
            </app-player-cell>
        </div>
        <div 
            *ngFor="let roundResult of result.roundResults; let roundIndex = index;" 
            [class.gray]="result.minround === roundIndex"
            class="cell">
            
            {{ roundResult || '-' }}
        </div>
        <div class="cell">{{ result.overall }}</div>
    </div>
</div>