<form [formGroup]="smileSearchForm">
  <input [placeholder]="searchSmilesCaption$ | async" formControlName="smile" class="smile-search-input" />
</form>

<div class="scroll-container">
  @if (sortedAndGroupedSmiles$ | async; as smileGroups) {
    <div class="groups-container">
      @if (smileGroups.length) {
        @for (smileGroup of smileGroups; track smileGroup) {
          <div class="smile-group">
            <div class="group-name">{{ smileGroup.name }}</div>
            <div class="smiles-container">
              @for (smile of smileGroup.items; track smile) {
                <div
                  (click)="chooseSmile.emit(smile)"
                  (mouseover)="setFocusedSmile(smile)"
                  (mouseout)="setFocusedSmile(null)"
                  class="smile-container"
                  >
                  <app-smile [smile]="smile"></app-smile>
                </div>
              }
            </div>
          </div>
        }
      } @else {
        <div class="no-smiles-found">
          <span translate translation="noSmilesFound"></span>
        </div>
      }
    </div>
  }
</div>

<div class="chosen-smile-container">
  @if (!hoveredSmile) {
    <div class="chosen-smile-placeholder">
      <span translate translation="chosenSmile"></span>
    </div>
  } @else {
    <app-smile [smile]="hoveredSmile!" [isBig]="true"></app-smile>
    <div class="smile-name">:{{ hoveredSmile!.name }}:</div>
  }

</div>
