<div class="actions-container">
  <mat-card class="card">
    <div class="card-header">Select news type</div>
    <mat-form-field appearance="outline" class="news-type-select">
      <mat-select [(value)]="addNewsTypeSelectValue">
        <mat-option *ngFor="let newsType of newsTypes" [value]="newsType">
          {{ newsType | invokeFunction : mapNewsTypeToHumanName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button
        (click)="openAddNewsPage()"
        mat-raised-button
        color="accent"
        data-test-id="add-news-button"
      >
        Add news
      </button>
    </div>
  </mat-card>
</div>
<mat-card class="news-table-card">
  <div class="card-header">News list</div>
  <div *ngIf="news$ | async as news; else isLoading" class="news-table">
    <div class="cell first table-head">Number</div>
    <div class="cell table-head">Header</div>
    <div class="cell table-head">Date</div>
    <div class="cell table-head">Type</div>
    <div class="cell table-head">Actions</div>
    <ng-container *ngFor="let newsItem of news; let i = index">
      <div class="cell first">{{ news.length - i }}</div>
      <div class="cell header" data-test-id="news-title-text">{{ newsItem.headerEnglish }}</div>
      <div class="cell date">{{ newsItem.date | invokeFunction: formatDateToLocal }}</div>
      <div class="cell type">{{ newsItem.typeName }}</div>
      <div class="cell actions buttons">
        <ng-container
          *ngIf="newsItem.type | invokeFunction: getNewsTypeRoute as newsTypeRoute; else noActionsAvailable"
        >
          <button
            [routerLink]="'/admin/news/edit/' + newsTypeRoute + '/' + newsItem.id"
            mat-raised-button
            color="basic"
            data-test-id="edit-news-button"
          >
            Edit
          </button>
          <ng-container *ngIf="user$ | async as user">
            <button
              *ngIf="hasNewsDeleteAccess(user)"
              (click)="confirmDelete(newsItem)"
              mat-raised-button
              color="warn"
              data-test-id="delete-news-button"
            >
              Delete
            </button>
          </ng-container>
        </ng-container>
        <ng-template #noActionsAvailable>No actions available</ng-template>
      </div>
    </ng-container>
  </div>
  <ng-template #isLoading>
    <div class="spinner">
      <mat-spinner diameter="75" strokeWidth="4" color="accent"></mat-spinner>
    </div>
  </ng-template>
</mat-card>
