<div class="actions-container">
  <mat-card class="card">
    <div class="card-header">Simple text news</div>
    <div class="card-text">General news about any topic, which are not linked to any cup tables</div>
    <button mat-raised-button color="accent">Add news</button>
  </mat-card>
</div>
<mat-card class="news-table-card">
  <div class="card-header">News list</div>
  <div *ngIf="news$ | async as news; else isLoading" class="news-table">
      <div class="cell first table-head">Number</div>
      <div class="cell table-head">Header</div>
      <div class="cell table-head">Date</div>
      <div class="cell table-head">Type</div>
      <div class="cell table-head">Actions</div>
    <ng-container *ngFor="let news_item of news; let i = index;">
      <div class="cell first">{{ news.length - i }}</div>
      <div class="cell header">{{ news_item.header_en }}</div>
      <div class="cell date">{{ news_item.datetimezone | invokeFunction : getHumanTime }}</div>
      <div class="cell type">{{ +news_item.type_id | invokeFunction : getNewsType }}</div>
      <div class="cell actions buttons">
        <button mat-raised-button color="basic">Edit</button>
        <button mat-raised-button color="warn">Delete</button>
      </div>
    </ng-container>
  </div>
  <ng-template #isLoading>
    <div class="spinner">
      <mat-spinner diameter="75" strokeWidth="4" color="accent"></mat-spinner>
    </div>
  </ng-template>
</mat-card>
