<div class="background">
    <div class="column left">
        <div class="round-info">
            <div>Defrag Online Cup #5:</div>
            <div class="cup-name">CPM Oldschool maps</div>
            <div>round 1, map br-cpm01</div>
        </div>
        <div
            *ngIf="levelshot"
            class="levelshot"
        ></div>
    </div>
    <div class="column right">
        <div class="result-table">
            <div class="row">
                <div class="number cell"></div>
                <div class="player header cell">Player</div>
                <div class="time header cell">Time</div>
            </div>
            <div class="row">
                <div class="number cell gold"></div>
                <div class="player cell">
                    <app-player-cell
                        country="ru"
                        nick="Nosf"
                        playerId="10"
                        [style]="1"
                    ></app-player-cell>
                </div>
                <div class="time cell">08:948</div>
            </div>
            <div class="row">
                <div class="number cell silver"></div>
                <div class="player cell">
                    <app-player-cell
                        country="ru"
                        nick="Nosf"
                        playerId="10"
                        [style]="1"
                    ></app-player-cell>
                </div>
                <div class="time cell">08:948</div>
            </div>
            <div class="row">
                <div class="number cell bronze"></div>
                <div class="player cell">
                    <app-player-cell
                        country="ru"
                        nick="Nosf"
                        playerId="10"
                        [style]="1"
                    ></app-player-cell>
                </div>
                <div class="time cell">08:948</div>
            </div>
            <div class="row">
                <div class="number cell">4</div>
                <div class="player cell">
                    <app-player-cell
                        country="ru"
                        nick="Nosf"
                        playerId="10"
                        [style]="1"
                    ></app-player-cell>
                </div>
                <div class="time cell">08:948</div>
            </div>
        </div>
    </div>
</div>